workflows/workflows/workflows/cdn_wf_pay_payment_callback_v1.json
{
  "name": "CDN WF-PAY - Payment Callback v1",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f00d30a2-3803-4aee-b41c-fa8e36ba903f",
  "id": "4905",
  "tags": [],
  "nodes": [
    {
      "id": "7a479003-c375-4db5-8081-7c534db15ca3",
      "name": "Webhook - Payment Callback v1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        200
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "cdn-wf1-payment-v1",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "c2877909-3c92-4df5-901f-e37c296e0d66",
      "name": "Code - Normalize Payment Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        200
      ],
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nreturn [{json:{\n  provider: body.provider || 'QRIS_GATEWAY',\n  provider_event_id: body.event_id || body.eventId || body.ref || '',\n  order_id: body.order_id || body.orderId || '',\n  amount: body.amount || 0,\n  status: body.status || 'confirmed',\n  paid_at: body.paid_at || new Date().toISOString(),\n  raw_json: JSON.stringify(body)\n}}];\n"
      }
    },
    {
      "id": "4cfe3714-d35f-47be-a16f-db6c61a6ee58",
      "name": "Code - Build payment idem_key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "parameters": {
        "jsCode": "return [{json:{...$json, payment_idem_key:`pay|${$json.provider}|${$json.provider_event_id}`}}];"
      }
    },
    {
      "id": "d1e83612-6cb0-40c3-a0a8-2f3c4f0820e3",
      "name": "GS - Lookup Idempotency (payment)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        950,
        200
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "idempotency_keys",
        "lookupColumn": "idem_key",
        "lookupValue": "={{$json.payment_idem_key}}"
      }
    },
    {
      "id": "993922ff-7cf7-402c-a96e-da766df899b3",
      "name": "IF - Payment Already Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.idem_key !== undefined && $json.status === 'DONE'}}",
              "operation": "isTrue"
            }
          ]
        }
      }
    },
    {
      "id": "b03e43a4-8419-45a7-957a-c1a4927644a4",
      "name": "GS - Append payments (confirmed)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1450,
        140
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "payments",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payment_id": "={{'PAY'+new Date().toISOString().slice(0,10).replaceAll('-','')+String(Math.floor(Math.random()*1e6)).padStart(6,'0')}}",
            "order_id": "={{$json.order_id}}",
            "created_at": "={{new Date().toISOString()}}",
            "status": "confirmed",
            "method": "QRIS",
            "amount": "={{$json.amount}}",
            "provider_ref": "={{$json.provider_event_id}}",
            "paid_at": "={{$json.paid_at}}",
            "notes": "",
            "provider": "={{$json.provider}}",
            "provider_event_id": "={{$json.provider_event_id}}",
            "idempotency_key": "={{$json.payment_idem_key}}",
            "confirmed_at": "={{new Date().toISOString()}}",
            "confirmed_by": "system",
            "raw_json": "={{$json.raw_json}}"
          }
        }
      }
    },
    {
      "id": "68215612-9b53-4a54-8cf3-fef58bd1b9fd",
      "name": "GS - Update order paid",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1450,
        260
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "orders",
        "keyColumn": "order_id",
        "keyValue": "={{$json.order_id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "payment_status": "paid",
            "status": "paid",
            "updated_at": "={{new Date().toISOString()}}"
          }
        }
      }
    },
    {
      "id": "a78c9b9d-6ac0-4ead-92a3-cdd90d1d987a",
      "name": "Respond - 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        200
      ],
      "parameters": {
        "responseCode": 200,
        "responseData": "={{ { ok: true } }}"
      }
    },
    {
      "id": "4d8d8a38-8f4d-4d4f-bb61-8e2ce0045182",
      "name": "GS - Read Order Items",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1700,
        260
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "order_items",
        "options": {}
      }
    },
    {
      "id": "c5a2f9f9-5d6a-4bf3-965d-45635cc9cc5e",
      "name": "Code - Filter Order Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1950,
        260
      ],
      "parameters": {
        "jsCode": "const orderId = $json.order_id;\nconst rows = items.map(i=>i.json);\nconst filtered = rows.filter(r => r.order_id === orderId);\nreturn filtered.map(r => ({json:{...$json, order_item: r}}));\n"
      }
    },
    {
      "id": "74be8b41-6e34-44d6-adeb-d3f09ce7aa83",
      "name": "Split In Batches (Order Items)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2200,
        260
      ],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "2cdfd164-8858-4a3e-8187-7d969565b19d",
      "name": "GS - Lookup Product",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2450,
        260
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "lookup",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "products",
        "lookupColumn": "product_id",
        "lookupValue": "={{$json.order_item.product_id}}",
        "options": {}
      }
    },
    {
      "id": "412daeb5-3344-4168-8d81-926f5be6a5ac",
      "name": "Code - Build Inventory Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2700,
        260
      ],
      "parameters": {
        "jsCode": "const item = $json.order_item || {};\nconst prod = $json;\nconst qty = Number(item.qty || 0);\nconst stockBefore = Number(prod.stock_qty || 0);\nconst stockAfter = stockBefore - qty;\nreturn [{json:{...$json, order_item:item, stock_before: stockBefore, stock_after: stockAfter, qty_change: -qty}}];\n"
      }
    },
    {
      "id": "e56aa998-ce6f-4703-8b2b-430bf4c880d6",
      "name": "GS - Update Product Stock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2950,
        260
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "products",
        "keyColumn": "product_id",
        "keyValue": "={{$json.order_item.product_id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "stock_qty": "={{String($json.stock_after)}}",
            "updated_at": "={{new Date().toISOString()}}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "ca5c3c3f-0fe9-472f-aa45-e0e91a9cca56",
      "name": "GS - Append Inventory Ledger",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3200,
        260
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "inventory_ledger",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ledger_id": "={{'LED'+new Date().toISOString().slice(0,10).replaceAll('-','')+String(Math.floor(Math.random()*1e6)).padStart(6,'0')}}",
            "created_at": "={{new Date().toISOString()}}",
            "type": "OUT",
            "ref_type": "order",
            "ref_id": "={{$json.order_id}}",
            "product_id": "={{$json.order_item.product_id}}",
            "qty_change": "={{String($json.qty_change)}}",
            "stock_before": "={{String($json.stock_before)}}",
            "stock_after": "={{String($json.stock_after)}}",
            "actor": "system",
            "notes": "payment_confirmed",
            "sku": "={{$json.order_item.sku || ''}}",
            "warehouse": "",
            "idempotency_key": "={{'inv|'+$json.order_id+'|'+$json.order_item.product_id}}",
            "raw_json": "={{JSON.stringify($json.order_item)}}",
            "actor_type": "system"
          }
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook - Payment Callback v1": {
      "main": [
        [
          {
            "node": "Code - Normalize Payment Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalize Payment Event": {
      "main": [
        [
          {
            "node": "Code - Build payment idem_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build payment idem_key": {
      "main": [
        [
          {
            "node": "GS - Lookup Idempotency (payment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Lookup Idempotency (payment)": {
      "main": [
        [
          {
            "node": "IF - Payment Already Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Payment Already Processed?": {
      "main": [
        [
          {
            "node": "Respond - 200 OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GS - Append payments (confirmed)",
            "type": "main",
            "index": 0
          },
          {
            "node": "GS - Update order paid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Append payments (confirmed)": {
      "main": [
        [
          {
            "node": "Respond - 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Update order paid": {
      "main": [
        [
          {
            "node": "Respond - 200 OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GS - Read Order Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Read Order Items": {
      "main": [
        [
          {
            "node": "Code - Filter Order Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Filter Order Items": {
      "main": [
        [
          {
            "node": "Split In Batches (Order Items)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (Order Items)": {
      "main": [
        [
          {
            "node": "GS - Lookup Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches (Order Items)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Lookup Product": {
      "main": [
        [
          {
            "node": "Code - Build Inventory Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Inventory Update": {
      "main": [
        [
          {
            "node": "GS - Update Product Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Update Product Stock": {
      "main": [
        [
          {
            "node": "GS - Append Inventory Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Append Inventory Ledger": {
      "main": [
        [
          {
            "node": "Respond - 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
