workflows/workflows/workflows/cdn_wf_kb_hybrid_knowledge_sync_v1.json
{
  "name": "CDN WF-KB - Hybrid Knowledge Sync v1",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e1444ae-2c69-44dd-9e5c-cf79d6f01d71",
  "id": "8576",
  "tags": [],
  "nodes": [
    {
      "id": "cc2264dc-2e49-4ff7-b2ce-b9aee518636f",
      "name": "Cron - KB Sync",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      }
    },
    {
      "id": "0298971a-21ba-4424-88b7-5f2ad1b4971d",
      "name": "GS - Read Products",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        160
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "products",
        "options": {}
      }
    },
    {
      "id": "75dcf18d-4414-415c-ad67-00be0c13775e",
      "name": "GS - Read FAQs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        450,
        240
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "faqs",
        "options": {}
      }
    },
    {
      "id": "ca80646c-2534-4a5b-a434-24e0892960cc",
      "name": "Code - Build kb_documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "parameters": {
        "jsCode": "// Merge products + faqs into kb_documents rows.\n// Input should be two branches merged manually; for simplicity, keep this node as placeholder.\n// Expected output rows fields: doc_id, source_type, source_id, title, content(rag_text), tags, category, is_active, checksum, index_status, last_indexed_at, metadata_json\nreturn items.map(i => ({json: i.json}));\n"
      }
    },
    {
      "id": "43e4ff9a-485a-4f87-a5b1-28168e78cc6f",
      "name": "GS - Upsert kb_documents",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        950,
        200
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "appendOrUpdate",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "kb_documents",
        "keyColumn": "doc_id",
        "keyValue": "={{$json.doc_id}}",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      }
    },
    {
      "id": "91d3456c-1a66-4411-af95-fc1cc79c7a21",
      "name": "Code - Chunking to kb_chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "jsCode": "// Chunk content into kb_chunks\nconst doc = $json;\nconst text = doc.content || doc.rag_text || '';\nconst chunkSize = 900;\nconst chunks = [];\nfor (let i=0;i<text.length;i+=chunkSize){\n  chunks.push(text.slice(i, i+chunkSize));\n}\nconst out = chunks.map((c, idx) => ({\n  json: {\n    chunk_id: `CHUNK-${doc.doc_id}-${String(idx+1).padStart(4,'0')}`,\n    doc_id: doc.doc_id,\n    chunk_index: idx+1,\n    chunk_text: c,\n    checksum: \"\",\n    tokens: \"\",\n    created_at: new Date().toISOString(),\n    updated_at: new Date().toISOString(),\n    index_status: \"PENDING\",\n    last_indexed_at: \"\",\n    vector_id: \"\",\n    error_message: \"\",\n    metadata_json: doc.metadata_json || \"\"\n  }\n}));\nreturn out;\n"
      }
    },
    {
      "id": "2632a5ea-bc0e-4efa-b647-bf34813f9894",
      "name": "GS - Upsert kb_chunks",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1450,
        200
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "appendOrUpdate",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "kb_chunks",
        "keyColumn": "chunk_id",
        "keyValue": "={{$json.chunk_id}}",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      }
    },
    {
      "id": "e1061c56-a615-4547-b51a-070189b7a277",
      "name": "HTTP - Upsert Vector (placeholder)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1700,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.VECTOR_URL}}/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer '+$env.VECTOR_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": "={{ { collection: $env.VECTOR_COLLECTION || 'cdn_kb', id: $json.chunk_id, text: $json.chunk_text, metadata: { doc_id: $json.doc_id, chunk_index: $json.chunk_index, is_active: true } } }}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "6cd633e1-f852-45bb-b149-0b7684778a98",
      "name": "GS - Update kb_chunks INDEXED",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1950,
        200
      ],
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentId": "={{$env.GSHEET_ID}}",
        "sheetName": "kb_chunks",
        "keyColumn": "chunk_id",
        "keyValue": "={{$json.chunk_id}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "index_status": "INDEXED",
            "last_indexed_at": "={{new Date().toISOString()}}",
            "vector_id": "={{($json.body && $json.body.vector_id) || ''}}",
            "updated_at": "={{new Date().toISOString()}}"
          }
        }
      }
    }
  ],
  "connections": {
    "Cron - KB Sync": {
      "main": [
        [
          {
            "node": "GS - Read Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "GS - Read FAQs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Read Products": {
      "main": [
        [
          {
            "node": "Code - Build kb_documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Read FAQs": {
      "main": [
        [
          {
            "node": "Code - Build kb_documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build kb_documents": {
      "main": [
        [
          {
            "node": "GS - Upsert kb_documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Upsert kb_documents": {
      "main": [
        [
          {
            "node": "Code - Chunking to kb_chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Chunking to kb_chunks": {
      "main": [
        [
          {
            "node": "GS - Upsert kb_chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Upsert kb_chunks": {
      "main": [
        [
          {
            "node": "HTTP - Upsert Vector (placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Upsert Vector (placeholder)": {
      "main": [
        [
          {
            "node": "GS - Update kb_chunks INDEXED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
