workflows/CDN_WF1_HYBRID_WORKFLOWS_v3_all_in_one.json
{
  "meta": {
    "exportedAt": "2026-01-13T02:37:17Z",
    "versionId": "084d4bcc-6500-4f45-b19a-617dd7ec949e",
    "instanceId": "827c68a0-53b8-4177-af55-8cedccf4bd63"
  },
  "workflows": [
    {
      "name": "CDN WF1 - Inbound Orchestrator v3 (Hybrid)",
      "active": false,
      "settings": {
        "executionOrder": "v1"
      },
      "versionId": "77daa428-83e5-4843-8f4f-8762d354996c",
      "id": "8583",
      "tags": [],
      "nodes": [
        {
          "id": "ebd00e27-82ef-415a-b5c0-bc8c14c11511",
          "name": "Webhook Inbound Unified v3",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [
            200,
            200
          ],
          "parameters": {
            "httpMethod": "POST",
            "path": "cdn-wf1-unified-v3",
            "responseMode": "onReceived",
            "responseCode": 202,
            "responseData": "={{ { ok: true, accepted: true } }}",
            "options": {}
          }
        },
        {
          "id": "45bf4816-d008-4582-afb5-4eac57cbdeec",
          "name": "Code - Normalize Inbound",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            450,
            200
          ],
          "parameters": {
            "jsCode": "// Normalize multi-channel inbound payload into internal schema.\n// Expect req body in $json (from Webhook).\nconst body = $json.body ?? $json;\n// --- Provider detection (edit as needed) ---\nlet provider = body.provider || \"WAHA\";\nlet channel  = body.channel  || \"whatsapp\";\n\n// Thread id normalization (prioritize WAHA fields if present)\nconst thread_id = body.thread_id\n  || body.remoteJidAlt\n  || body.remoteJid\n  || body.from\n  || body.chatId\n  || body.email_thread_id\n  || \"\";\n\nconst content = body.content\n  || body.text\n  || body.message\n  || (body.data && body.data.text)\n  || \"\";\n\nconst provider_message_id = body.provider_message_id\n  || (body.key && body.key.id)\n  || body.messageId\n  || body.id\n  || \"\";\n\nconst provider_event_id = body.provider_event_id\n  || body.eventId\n  || body.event_id\n  || \"\";\n\nconst sent_at = body.sent_at\n  || (body.messageTimestamp ? new Date(Number(body.messageTimestamp)*1000).toISOString() : null)\n  || new Date().toISOString();\n\nconst trace_id = body.trace_id || $execution.id || (\"TRC-\" + Date.now());\n\n// Minimal schema output\nreturn [{\n  json: {\n    provider, channel, thread_id,\n    provider_message_id, provider_event_id,\n    sent_at,\n    sender: \"user\",\n    content,\n    raw_json: JSON.stringify(body),\n    trace_id\n  }\n}];\n"
          }
        },
        {
          "id": "c3757f43-71b0-41c9-8de5-55eae75a1c82",
          "name": "IF - Schema Valid?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [
            700,
            200
          ],
          "parameters": {
            "conditions": {
              "string": [
                {
                  "value1": "={{$json.thread_id}}",
                  "operation": "isNotEmpty"
                },
                {
                  "value1": "={{$json.content}}",
                  "operation": "isNotEmpty"
                },
                {
                  "value1": "={{$json.provider_message_id}}",
                  "operation": "isNotEmpty"
                }
              ]
            }
          }
        },
        {
          "id": "337f2723-bdd1-4cb8-9fe2-19079ca744a1",
          "name": "Code - Build Dedupe Key",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            950,
            120
          ],
          "parameters": {
            "jsCode": "return [{json:{...$json, dedupe_key:`in|${$json.provider}|${$json.provider_message_id}`}}];"
          }
        },
        {
          "id": "20130260-82e9-4862-a4f3-420982ff998c",
          "name": "GS - Lookup Idempotency (dedupe_key)",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            1200,
            120
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "lookup",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "idempotency_keys",
            "lookupColumn": "idem_key",
            "lookupValue": "={{$json.dedupe_key}}",
            "options": {}
          }
        },
        {
          "id": "4de846a0-dc99-4d1f-8cef-f8a9af78dfdb",
          "name": "IF - Already Processed?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [
            1450,
            120
          ],
          "parameters": {
            "conditions": {
              "boolean": [
                {
                  "value1": "={{$json.idem_key !== undefined && ($json.status === 'DONE' || $json.status === 'IN_PROGRESS')}}",
                  "operation": "isTrue"
                }
              ]
            }
          }
        },
        {
          "id": "e9e68c6d-4fef-43da-a21f-8a67aa518b48",
          "name": "GS - Upsert Idempotency IN_PROGRESS",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            1700,
            120
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "append",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "idempotency_keys",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "idem_key": "={{$json.dedupe_key}}",
                "scope": "inbound",
                "ref_type": "message",
                "ref_id": "",
                "status": "IN_PROGRESS",
                "created_at": "={{new Date().toISOString()}}",
                "expires_at": "={{new Date(Date.now()+2*24*3600*1000).toISOString()}}",
                "last_seen_at": "={{new Date().toISOString()}}",
                "result_json": "",
                "error_message": ""
              }
            },
            "options": {}
          }
        },
        {
          "id": "55491df0-da12-4f79-be5d-73393ead439d",
          "name": "GS - Lookup Thread Lock",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            1950,
            120
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "lookup",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "thread_locks",
            "lookupColumn": "thread_id",
            "lookupValue": "={{$json.thread_id}}",
            "options": {}
          }
        },
        {
          "id": "50e7f2bf-c109-42fb-89c1-9b0bd7f083ef",
          "name": "Code - Decide Lock Acquire",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            2200,
            120
          ],
          "parameters": {
            "jsCode": "const lock = $json; // row from lookup or empty item\nconst now = Date.now();\nconst lockedUntil = lock.locked_until ? Date.parse(lock.locked_until) : 0;\nconst acquire = !lock.thread_id || isNaN(lockedUntil) || lockedUntil < now;\nreturn [{json:{...$json, lock_acquire: acquire, now_iso: new Date().toISOString()}}];\n"
          }
        },
        {
          "id": "54635f72-52bb-4dce-a24f-8284fe8eb614",
          "name": "IF - Lock Acquired?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [
            2450,
            120
          ],
          "parameters": {
            "conditions": {
              "boolean": [
                {
                  "value1": "={{$json.lock_acquire}}",
                  "operation": "isTrue"
                }
              ]
            }
          }
        },
        {
          "id": "9ca069dc-f0e1-4659-9cb9-136539c5d35a",
          "name": "GS - Upsert Thread Lock (Acquire)",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            2700,
            60
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "appendOrUpdate",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "thread_locks",
            "keyColumn": "thread_id",
            "keyValue": "={{$json.thread_id}}",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "thread_id": "={{$json.thread_id}}",
                "active_ticket_id": "={{$json.active_ticket_id || ''}}",
                "lock_owner": "={{$execution.id}}",
                "locked_until": "={{new Date(Date.now() + (Number($env.THREAD_LOCK_SECONDS || 30)*1000)).toISOString()}}",
                "last_inbound_message_id": "={{$json.provider_message_id}}",
                "last_inbound_at": "={{$json.sent_at}}",
                "last_ticket_status": "",
                "last_seen_at": "={{new Date().toISOString()}}",
                "created_at": "={{$json.created_at || new Date().toISOString()}}",
                "updated_at": "={{new Date().toISOString()}}",
                "notes": ""
              }
            },
            "options": {}
          }
        },
        {
          "id": "ee9f1225-e2f9-474b-992b-4a0a18a2e639",
          "name": "GS - Lookup Customer (default_thread_id)",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            2950,
            60
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "lookup",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "customers",
            "lookupColumn": "default_thread_id",
            "lookupValue": "={{$json.thread_id}}",
            "options": {}
          }
        },
        {
          "id": "ea1d4070-2307-41ea-947b-780098a1a698",
          "name": "Code - Resolve Customer",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            3200,
            60
          ],
          "parameters": {
            "jsCode": "// Create deterministic-ish customer_id if missing (simple hash).\nfunction djb2(str){ let h=5381; for (let i=0;i<str.length;i++) h=((h<<5)+h)+str.charCodeAt(i); return h>>>0; }\nconst existingId = $json.customer_id;\nconst thread = $json.thread_id || \"\";\nconst suffix = (djb2(thread) % 1000000).toString().padStart(6,'0');\nconst today = new Date().toISOString().slice(0,10).replaceAll('-','');\nconst customer_id = existingId || `CUS${today}${suffix}`;\nreturn [{\n  json: {\n    ...$json,\n    customer_id,\n    updated_at: new Date().toISOString(),\n    last_seen_at: new Date().toISOString(),\n    default_thread_id: thread,\n    default_channel: $json.channel\n  }\n}];\n"
          }
        },
        {
          "id": "6c2160c4-bce2-4571-83c9-326020dedb13",
          "name": "GS - Upsert Customer",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            3450,
            60
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "appendOrUpdate",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "customers",
            "keyColumn": "customer_id",
            "keyValue": "={{$json.customer_id}}",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "customer_id": "={{$json.customer_id}}",
                "created_at": "={{$json.created_at || new Date().toISOString()}}",
                "updated_at": "={{$json.updated_at}}",
                "status": "active",
                "name": "={{$json.name || ''}}",
                "phone": "={{$json.phone || ''}}",
                "email": "={{$json.email || ''}}",
                "telegram_username": "={{$json.telegram_username || ''}}",
                "default_channel": "={{$json.default_channel}}",
                "default_thread_id": "={{$json.default_thread_id}}",
                "notes": "={{$json.notes || ''}}",
                "profile_json": "={{$json.profile_json || ''}}",
                "preferences_json": "={{$json.preferences_json || ''}}",
                "active_ticket_id": "={{$json.active_ticket_id || ''}}",
                "last_intent": "={{$json.last_intent || ''}}",
                "last_seen_at": "={{$json.last_seen_at}}"
              }
            },
            "options": {}
          }
        },
        {
          "id": "9a57d171-2bf6-48c8-8889-e6b0951b0213",
          "name": "GS - Read Tickets by thread_id",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            3700,
            60
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "read",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "tickets",
            "options": {}
          }
        },
        {
          "id": "b3cb24bd-819a-425f-b42a-e59050185e08",
          "name": "Code - Resolve Ticket (reuse/reopen)",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            3950,
            60
          ],
          "parameters": {
            "jsCode": "// NOTE: Google Sheets read returns many rows; filter in code.\nconst all = items.map(i => i.json); // if connected correctly, this node should receive list of tickets rows\nconst thread_id = $json.thread_id;\nconst reuseHours = Number($env.TICKET_REUSE_WINDOW_HOURS || 24);\nconst now = Date.now();\n\nconst related = all.filter(t => t.thread_id === thread_id);\nconst isOpen = (s) => !['closed','resolved','selesai'].includes(String(s||'').toLowerCase());\nlet active = related.filter(t => isOpen(t.status));\nactive.sort((a,b)=> Date.parse(b.updated_at||b.created_at||0) - Date.parse(a.updated_at||a.created_at||0));\n\nlet chosen = active[0];\nif (!chosen && related.length){\n  related.sort((a,b)=> Date.parse(b.updated_at||b.created_at||0) - Date.parse(a.updated_at||a.created_at||0));\n  const last = related[0];\n  const ageH = (now - Date.parse(last.updated_at||last.created_at||now))/3600000;\n  if (ageH <= reuseHours){\n    chosen = {...last, status: 'open', reopened_at: new Date().toISOString()};\n  }\n}\nif (!chosen){\n  const today = new Date().toISOString().slice(0,10).replaceAll('-','');\n  const suffix = String(Math.floor(Math.random()*1e6)).padStart(6,'0');\n  chosen = {\n    ticket_id: `TCK${today}${suffix}`,\n    created_at: new Date().toISOString(),\n    status: 'open',\n    stage: 'chat',\n    priority: 'normal',\n    tags: '',\n    meta_json: ''\n  };\n}\nchosen.updated_at = new Date().toISOString();\nchosen.thread_id = thread_id;\nchosen.channel = $json.channel;\nchosen.customer_ref = $json.customer_id;\nchosen.last_inbound_at = $json.sent_at;\nchosen.last_message_snippet = ($json.content||'').slice(0,200);\nchosen.unread_flag = 'TRUE';\nreturn [{json:{...$json, ticket: chosen, ticket_id: chosen.ticket_id, active_ticket_id: chosen.ticket_id}}];\n"
          }
        },
        {
          "id": "5571b517-546c-40e5-be70-9350cdc9cfb8",
          "name": "GS - Upsert Ticket",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            4200,
            60
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "appendOrUpdate",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "tickets",
            "keyColumn": "ticket_id",
            "keyValue": "={{$json.ticket_id}}",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "ticket_id": "={{$json.ticket.ticket_id}}",
                "created_at": "={{$json.ticket.created_at || new Date().toISOString()}}",
                "updated_at": "={{$json.ticket.updated_at}}",
                "status": "={{$json.ticket.status}}",
                "priority": "={{$json.ticket.priority || 'normal'}}",
                "channel": "={{$json.channel}}",
                "customer_ref": "={{$json.customer_id}}",
                "thread_id": "={{$json.thread_id}}",
                "last_inbound_at": "={{$json.ticket.last_inbound_at}}",
                "last_message_snippet": "={{$json.ticket.last_message_snippet}}",
                "unread_flag": "TRUE",
                "tags": "={{$json.ticket.tags || ''}}",
                "meta_json": "={{$json.ticket.meta_json || ''}}",
                "conversation_summary": "={{$json.ticket.conversation_summary || ''}}",
                "facts_json": "={{$json.ticket.facts_json || ''}}",
                "stage": "={{$json.ticket.stage || 'chat'}}",
                "handoff_flag": "={{$json.ticket.handoff_flag || 'FALSE'}}",
                "handoff_reason": "={{$json.ticket.handoff_reason || ''}}",
                "reopened_at": "={{$json.ticket.reopened_at || ''}}",
                "closed_at": "={{$json.ticket.closed_at || ''}}",
                "last_ai_at": "={{$json.ticket.last_ai_at || ''}}"
              }
            },
            "options": {}
          }
        },
        {
          "id": "2f0e2ce4-74b8-4a94-9e99-82fc1164c44d",
          "name": "GS - Update Customer active_ticket_id",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            4450,
            60
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "update",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "customers",
            "keyColumn": "customer_id",
            "keyValue": "={{$json.customer_id}}",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "active_ticket_id": "={{$json.active_ticket_id}}",
                "updated_at": "={{new Date().toISOString()}}"
              }
            },
            "options": {}
          }
        },
        {
          "id": "5c5bb317-b108-452e-bc7a-11ccc806ab6e",
          "name": "GS - Append Inbound Message",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            4700,
            60
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "append",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "messages",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "message_id": "={{'MSG'+new Date().toISOString().slice(0,10).replaceAll('-','')+String(Math.floor(Math.random()*1e6)).padStart(6,'0')}}",
                "provider_message_id": "={{$json.provider_message_id}}",
                "ticket_id": "={{$json.ticket_id}}",
                "thread_id": "={{$json.thread_id}}",
                "direction": "IN",
                "channel": "={{$json.channel}}",
                "sender": "user",
                "sent_at": "={{$json.sent_at}}",
                "content": "={{$json.content}}",
                "raw_json": "={{$json.raw_json}}",
                "provider": "={{$json.provider}}",
                "provider_event_id": "={{$json.provider_event_id}}",
                "dedupe_key": "={{$json.dedupe_key}}",
                "intent": "",
                "latency_ms": "",
                "ai_json": ""
              }
            },
            "options": {}
          }
        },
        {
          "id": "9e31f614-51cd-4338-87d4-1a954940b749",
          "name": "GS - Read Messages (ticket_id)",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            4950,
            60
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "read",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "messages",
            "options": {}
          }
        },
        {
          "id": "0bd50132-51b6-46b1-ba51-58e332ea1237",
          "name": "Code - Build Context (filter last N)",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            5200,
            60
          ],
          "parameters": {
            "jsCode": "// Filter messages for this ticket and build last 20 context\nconst all = items.map(i => i.json);\nconst ticket_id = $json.ticket_id;\nconst msg = all.filter(m => m.ticket_id === ticket_id)\n  .sort((a,b)=> Date.parse(a.sent_at||0)-Date.parse(b.sent_at||0))\n  .slice(-20);\nreturn [{json:{...$json, history: msg}}];\n"
          }
        },
        {
          "id": "032144af-2f30-4b6d-86ce-5bc653540990",
          "name": "HTTP - RAG Retrieve (Vector DB)",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            5450,
            60
          ],
          "parameters": {
            "method": "POST",
            "url": "={{$env.VECTOR_URL}}/search",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "httpHeaderAuth",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "={{'Bearer '+$env.VECTOR_API_KEY}}"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "jsonBody": "={{ { collection: $env.VECTOR_COLLECTION || 'cdn_kb', query: $json.content, top_k: Number($env.RAG_TOPK||5), filters: { is_active: true } } }}",
            "options": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        {
          "id": "30ca3114-bc32-49bd-a3d0-be50113faba3",
          "name": "GS - Lookup Products (dynamic facts)",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            5700,
            60
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "read",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "products",
            "options": {}
          }
        },
        {
          "id": "3c1ca4d5-94f6-4649-90b2-5e32d1a4a819",
          "name": "Code - Compose Prompt + Guardrails",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            5950,
            60
          ],
          "parameters": {
            "jsCode": "const rag = $json.body || $json; // depending on http node output mapping\nconst ragSnips = (rag.results || rag.hits || []).slice(0, Number($env.RAG_TOPK||5));\nconst products = items.map(i=>i.json); // if connected properly: this node should receive products list\nconst q = ($json.content||'').toLowerCase();\nconst prodHits = products\n  .filter(p => (p.is_active||'').toString().toLowerCase() !== 'false')\n  .filter(p => [p.sku,p.name,p.keywords].some(v => (v||'').toLowerCase().includes(q.split(' ')[0]||'')))\n  .slice(0,5)\n  .map(p => ({sku:p.sku,name:p.name,price:p.price,stock_qty:p.stock_qty}));\n\nconst system = [\n  \"Kamu adalah CS/Sales chatbot. Bahasa Indonesia. Jawab singkat, natural, sopan.\",\n  \"DILARANG mengarang harga/stok. Jika data tidak ada, tanya klarifikasi atau offer handoff.\",\n  \"Output WAJIB JSON valid, tanpa markdown.\",\n  \"Action whitelist: UPDATE_TICKET, CREATE_ORDER_DRAFT, REQUEST_MORE_INFO, HANDOFF, SEND_REPLY, NO_REPLY.\",\n  \"Action dilarang: MARK_PAID, RESTOCK, CHANGE_PRICE, DELETE_DATA.\"\n].join(\"\\n\");\n\nconst context = {\n  ticket_id: $json.ticket_id,\n  thread_id: $json.thread_id,\n  channel: $json.channel,\n  customer_id: $json.customer_id,\n  history: $json.history || [],\n  rag: ragSnips,\n  products: prodHits\n};\n\nconst schema = {\n  should_reply: True,\n  reply_text: \"\",\n  actions: [],\n  handoff: { required: false, reason: \"\" }\n};\n\nreturn [{json:{...$json, llm: {system, context, schema}}}];\n"
          }
        },
        {
          "id": "f5152785-e3c3-4742-891b-efded43a5d2c",
          "name": "HTTP - LLM Chat (OpenAI compatible)",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            6200,
            60
          ],
          "parameters": {
            "method": "POST",
            "url": "={{$env.LLM_URL || 'https://api.openai.com/v1/chat/completions'}}",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "={{'Bearer '+$env.LLM_API_KEY}}"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "jsonBody": "={{ { model: ($env.LLM_MODEL || 'gpt-4o-mini'), temperature: 0.2, messages: [ {role:'system', content:$json.llm.system}, {role:'user', content: JSON.stringify($json.llm.context)} ] } }}",
            "options": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        {
          "id": "376dab1e-b556-4741-8053-748427f15ea6",
          "name": "Code - Parse & Validate AI Contract",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            6450,
            60
          ],
          "parameters": {
            "jsCode": "const resp = $json;\nconst txt = (resp.choices && resp.choices[0] && resp.choices[0].message && resp.choices[0].message.content) ? resp.choices[0].message.content : JSON.stringify(resp);\nfunction extractJson(s){\n  const m = s.match(/\\{[\\s\\S]*\\}/);\n  return m ? m[0] : null;\n}\nlet obj = null;\ntry { obj = JSON.parse(txt); } catch(e){\n  const ex = extractJson(txt);\n  if (ex) obj = JSON.parse(ex);\n}\nif (!obj) obj = {should_reply:false, reply_text:\"\", actions:[{type:\"HANDOFF\", reason:\"AI output invalid\"}], handoff:{required:true, reason:\"AI output invalid\"}};\n\nconst allowed = new Set([\"UPDATE_TICKET\",\"CREATE_ORDER_DRAFT\",\"REQUEST_MORE_INFO\",\"HANDOFF\",\"SEND_REPLY\",\"NO_REPLY\"]);\nobj.actions = Array.isArray(obj.actions) ? obj.actions.filter(a => a && allowed.has(a.type)) : [];\nif (obj.handoff && obj.handoff.required) {\n  // ok\n} else if (obj.actions.some(a=>a.type===\"HANDOFF\")) {\n  obj.handoff = {required:true, reason:\"handoff_requested\"};\n} else {\n  obj.handoff = {required:false, reason:\"\"};\n}\nreturn [{json:{...$json, ai: obj}}];\n"
          }
        },
        {
          "id": "da1f783a-3b83-4a99-8418-0e8243ca84e5",
          "name": "IF - Should Reply?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [
            6700,
            60
          ],
          "parameters": {
            "conditions": {
              "boolean": [
                {
                  "value1": "={{$json.ai.should_reply === true}}",
                  "operation": "isTrue"
                }
              ]
            }
          }
        },
        {
          "id": "0f79b06d-52e0-4e4d-82a6-b7a55f226345",
          "name": "GS - Append Outbox (PENDING)",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            6950,
            20
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "append",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "outbox",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "outbox_id": "={{'OBX'+new Date().toISOString().slice(0,10).replaceAll('-','')+String(Math.floor(Math.random()*1e6)).padStart(6,'0')}}",
                "created_at": "={{new Date().toISOString()}}",
                "updated_at": "={{new Date().toISOString()}}",
                "status": "PENDING",
                "channel": "={{$json.channel}}",
                "provider": "={{$json.provider}}",
                "thread_id": "={{$json.thread_id}}",
                "ticket_id": "={{$json.ticket_id}}",
                "message_id": "",
                "idempotency_key": "",
                "payload_json": "={{JSON.stringify({provider:$json.provider,channel:$json.channel,type:'text',session:$env.WAHA_SESSION,to:$json.thread_id,text:$json.ai.reply_text,meta:{ticket_id:$json.ticket_id,trace_id:$json.trace_id}})}}",
                "response_json": "",
                "last_attempt_at": "",
                "attempt_count": "0",
                "next_retry_at": "={{new Date().toISOString()}}",
                "error_message": ""
              }
            },
            "options": {}
          }
        },
        {
          "id": "360e6e27-0be9-4635-9042-624a123ae748",
          "name": "GS - Release Thread Lock",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            6950,
            120
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "update",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "thread_locks",
            "keyColumn": "thread_id",
            "keyValue": "={{$json.thread_id}}",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "locked_until": "={{new Date().toISOString()}}",
                "updated_at": "={{new Date().toISOString()}}"
              }
            },
            "options": {}
          }
        }
      ],
      "connections": {
        "Webhook Inbound Unified v3": {
          "main": [
            [
              {
                "node": "Code - Normalize Inbound",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Normalize Inbound": {
          "main": [
            [
              {
                "node": "IF - Schema Valid?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IF - Schema Valid?": {
          "main": [
            [
              {
                "node": "Code - Build Dedupe Key",
                "type": "main",
                "index": 0
              }
            ],
            []
          ]
        },
        "Code - Build Dedupe Key": {
          "main": [
            [
              {
                "node": "GS - Lookup Idempotency (dedupe_key)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Lookup Idempotency (dedupe_key)": {
          "main": [
            [
              {
                "node": "IF - Already Processed?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IF - Already Processed?": {
          "main": [
            [],
            [
              {
                "node": "GS - Upsert Idempotency IN_PROGRESS",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Upsert Idempotency IN_PROGRESS": {
          "main": [
            [
              {
                "node": "GS - Lookup Thread Lock",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Lookup Thread Lock": {
          "main": [
            [
              {
                "node": "Code - Decide Lock Acquire",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Decide Lock Acquire": {
          "main": [
            [
              {
                "node": "IF - Lock Acquired?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IF - Lock Acquired?": {
          "main": [
            [
              {
                "node": "GS - Upsert Thread Lock (Acquire)",
                "type": "main",
                "index": 0
              }
            ],
            []
          ]
        },
        "GS - Upsert Thread Lock (Acquire)": {
          "main": [
            [
              {
                "node": "GS - Lookup Customer (default_thread_id)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Lookup Customer (default_thread_id)": {
          "main": [
            [
              {
                "node": "Code - Resolve Customer",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Resolve Customer": {
          "main": [
            [
              {
                "node": "GS - Upsert Customer",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Upsert Customer": {
          "main": [
            [
              {
                "node": "GS - Read Tickets by thread_id",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Read Tickets by thread_id": {
          "main": [
            [
              {
                "node": "Code - Resolve Ticket (reuse/reopen)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Resolve Ticket (reuse/reopen)": {
          "main": [
            [
              {
                "node": "GS - Upsert Ticket",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Upsert Ticket": {
          "main": [
            [
              {
                "node": "GS - Update Customer active_ticket_id",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Update Customer active_ticket_id": {
          "main": [
            [
              {
                "node": "GS - Append Inbound Message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Append Inbound Message": {
          "main": [
            [
              {
                "node": "GS - Read Messages (ticket_id)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Read Messages (ticket_id)": {
          "main": [
            [
              {
                "node": "Code - Build Context (filter last N)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Build Context (filter last N)": {
          "main": [
            [
              {
                "node": "HTTP - RAG Retrieve (Vector DB)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP - RAG Retrieve (Vector DB)": {
          "main": [
            [
              {
                "node": "GS - Lookup Products (dynamic facts)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Lookup Products (dynamic facts)": {
          "main": [
            [
              {
                "node": "Code - Compose Prompt + Guardrails",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Compose Prompt + Guardrails": {
          "main": [
            [
              {
                "node": "HTTP - LLM Chat (OpenAI compatible)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "HTTP - LLM Chat (OpenAI compatible)": {
          "main": [
            [
              {
                "node": "Code - Parse & Validate AI Contract",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Parse & Validate AI Contract": {
          "main": [
            [
              {
                "node": "IF - Should Reply?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IF - Should Reply?": {
          "main": [
            [
              {
                "node": "GS - Append Outbox (PENDING)",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "GS - Release Thread Lock",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Append Outbox (PENDING)": {
          "main": [
            [
              {
                "node": "GS - Release Thread Lock",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "pinData": {}
    },
    {
      "name": "CDN WF-SEND - Outbox Sender v1",
      "active": false,
      "settings": {
        "executionOrder": "v1"
      },
      "versionId": "d5e733f5-80d3-4180-a137-b0328e6fa53c",
      "id": "1612",
      "tags": [],
      "nodes": [
        {
          "id": "17642d49-4ca1-4ca7-ac1f-d54d0af335c3",
          "name": "Cron - Outbox Worker",
          "type": "n8n-nodes-base.cron",
          "typeVersion": 1,
          "position": [
            200,
            200
          ],
          "parameters": {
            "triggerTimes": {
              "item": [
                {
                  "mode": "everyMinute"
                }
              ]
            }
          }
        },
        {
          "id": "926d2952-9ec3-4d8c-b97b-9f49ba473310",
          "name": "GS - Read Outbox",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            450,
            200
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "read",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "outbox",
            "options": {}
          }
        },
        {
          "id": "9e0ba61f-cd46-4aa7-aa04-9544f41106e6",
          "name": "Code - Filter Pending/Retry",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            700,
            200
          ],
          "parameters": {
            "jsCode": "const now = Date.now();\nconst rows = items.map(i=>i.json);\nconst eligible = rows.filter(r => {\n  const st = String(r.status||'').toUpperCase();\n  if (!(st === 'PENDING' || st === 'RETRY')) return false;\n  const next = r.next_retry_at ? Date.parse(r.next_retry_at) : 0;\n  return isNaN(next) || next <= now;\n}).slice(0, 10);\nreturn eligible.map(r => ({json:r}));\n"
          }
        },
        {
          "id": "ba7f06ed-5c58-41df-b57a-923b5e19d4c7",
          "name": "Split In Batches",
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 2,
          "position": [
            950,
            200
          ],
          "parameters": {
            "batchSize": 1,
            "options": {}
          }
        },
        {
          "id": "a223a6de-fba2-4325-9de0-223b8d2ee093",
          "name": "Code - Build Send Idem Key",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            1200,
            200
          ],
          "parameters": {
            "jsCode": "return [{json:{...$json, send_idem_key:`send|${$json.outbox_id}`}}];"
          }
        },
        {
          "id": "f8ffde13-79bd-40f5-ac39-8fe934db2085",
          "name": "GS - Lookup Idempotency (send)",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            1450,
            200
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "lookup",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "idempotency_keys",
            "lookupColumn": "idem_key",
            "lookupValue": "={{$json.send_idem_key}}"
          }
        },
        {
          "id": "3da7af76-4ead-499f-9691-7ec7a7beb40c",
          "name": "IF - Already Sent?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [
            1700,
            200
          ],
          "parameters": {
            "conditions": {
              "boolean": [
                {
                  "value1": "={{$json.idem_key !== undefined && $json.status === 'DONE'}}",
                  "operation": "isTrue"
                }
              ]
            }
          }
        },
        {
          "id": "2552ac86-ae67-4e74-a1ef-f6085d93a019",
          "name": "GS - Append Idempotency IN_PROGRESS (send)",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            1950,
            140
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "append",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "idempotency_keys",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "idem_key": "={{$json.send_idem_key}}",
                "scope": "send_message",
                "ref_type": "outbox",
                "ref_id": "={{$json.outbox_id}}",
                "status": "IN_PROGRESS",
                "created_at": "={{new Date().toISOString()}}",
                "expires_at": "={{new Date(Date.now()+2*24*3600*1000).toISOString()}}",
                "last_seen_at": "={{new Date().toISOString()}}",
                "result_json": "",
                "error_message": ""
              }
            }
          }
        },
        {
          "id": "efdd15bb-833b-4c22-8aaa-d09c0b61718d",
          "name": "Switch - Provider",
          "type": "n8n-nodes-base.switch",
          "typeVersion": 2,
          "position": [
            2200,
            200
          ],
          "parameters": {
            "value1": "={{$json.provider}}",
            "rules": [
              {
                "operation": "equal",
                "value2": "WAHA"
              },
              {
                "operation": "equal",
                "value2": "TELEGRAM"
              },
              {
                "operation": "equal",
                "value2": "EMAIL"
              }
            ]
          }
        },
        {
          "id": "8d08c2e1-777e-4dd9-a5b1-d24f1f9c99f7",
          "name": "HTTP - Send WAHA",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            2450,
            100
          ],
          "parameters": {
            "method": "POST",
            "url": "={{$env.WAHA_URL}}/api/sendText",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "X-Api-Key",
                  "value": "={{$env.WAHA_API_KEY}}"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "jsonBody": "={{ (()=>{ const p = JSON.parse($json.payload_json||'{}'); return { session: p.session || $env.WAHA_SESSION, chatId: p.to, text: p.text }; })() }}",
            "options": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        {
          "id": "f4d8d27a-117e-417e-85df-04a95f6e9862",
          "name": "Code - Normalize Send Result",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            2700,
            100
          ],
          "parameters": {
            "jsCode": "const ok = !$json.error && ($json.statusCode === undefined || ($json.statusCode >=200 && $json.statusCode < 300));\n// WAHA typically returns JSON with id or key.id; keep flexible\nconst body = $json.body || $json;\nconst provider_message_id = body.id || (body.key && body.key.id) || body.messageId || '';\nreturn [{json:{...$json, send_ok: ok, provider_message_id, send_raw: JSON.stringify(body), sent_at: new Date().toISOString()}}];\n"
          }
        },
        {
          "id": "8dd73c55-d7f3-4cd2-ac9a-88cd6dfcd06b",
          "name": "GS - Append Outbound Message",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            2950,
            100
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "append",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "messages",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "message_id": "={{'MSG'+new Date().toISOString().slice(0,10).replaceAll('-','')+String(Math.floor(Math.random()*1e6)).padStart(6,'0')}}",
                "provider_message_id": "={{$json.provider_message_id}}",
                "ticket_id": "={{$json.ticket_id}}",
                "thread_id": "={{$json.thread_id}}",
                "direction": "OUT",
                "channel": "={{$json.channel}}",
                "sender": "agent",
                "sent_at": "={{$json.sent_at}}",
                "content": "={{ (()=>{ const p=JSON.parse($json.payload_json||'{}'); return p.text||''; })() }}",
                "raw_json": "={{$json.send_raw}}",
                "provider": "={{$json.provider}}",
                "provider_event_id": "",
                "dedupe_key": "={{$json.send_idem_key}}",
                "intent": "",
                "latency_ms": "",
                "ai_json": ""
              }
            }
          }
        },
        {
          "id": "3067cf8a-99be-4bb3-8243-939dbba1a0ad",
          "name": "GS - Update Ticket After Outbound",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            3200,
            100
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "update",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "tickets",
            "keyColumn": "ticket_id",
            "keyValue": "={{$json.ticket_id}}",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "last_outbound_at": "={{new Date().toISOString()}}",
                "unread_flag": "FALSE",
                "updated_at": "={{new Date().toISOString()}}"
              }
            }
          }
        },
        {
          "id": "2ea9948e-4ef8-4608-8565-19e58e003c4a",
          "name": "IF - Send OK?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [
            3450,
            100
          ],
          "parameters": {
            "conditions": {
              "boolean": [
                {
                  "value1": "={{$json.send_ok}}",
                  "operation": "isTrue"
                }
              ]
            }
          }
        },
        {
          "id": "3c9d0d5b-0df6-4a45-976b-108f471e78e6",
          "name": "GS - Update Outbox DELIVERED",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            3700,
            40
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "update",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "outbox",
            "keyColumn": "outbox_id",
            "keyValue": "={{$json.outbox_id}}",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "status": "DELIVERED",
                "response_json": "={{$json.send_raw}}",
                "updated_at": "={{new Date().toISOString()}}",
                "last_attempt_at": "={{new Date().toISOString()}}",
                "attempt_count": "={{String((Number($json.attempt_count||0)+1))}}",
                "error_message": ""
              }
            }
          }
        },
        {
          "id": "26d47d09-a11f-41b3-b3be-b8d57cfca07f",
          "name": "Code - Backoff + Mark RETRY",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            3700,
            160
          ],
          "parameters": {
            "jsCode": "const attempts = Number($json.attempt_count||0)+1;\nconst base = Number($env.OUTBOX_RETRY_BASE_SECONDS || 30);\nconst backoff = Math.min(base * Math.pow(2, attempts-1), 3600);\nreturn [{json:{...$json, attempt_count: attempts, next_retry_at: new Date(Date.now()+backoff*1000).toISOString(), error_message: ($json.error_message||'send_failed')}}];\n"
          }
        },
        {
          "id": "7159ed01-1b86-4bf6-a2a5-088e129d7f6e",
          "name": "GS - Update Outbox RETRY",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            3950,
            160
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "update",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "outbox",
            "keyColumn": "outbox_id",
            "keyValue": "={{$json.outbox_id}}",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "status": "RETRY",
                "updated_at": "={{new Date().toISOString()}}",
                "last_attempt_at": "={{new Date().toISOString()}}",
                "attempt_count": "={{String($json.attempt_count)}}",
                "next_retry_at": "={{$json.next_retry_at}}",
                "error_message": "={{$json.error_message}}",
                "response_json": "={{$json.send_raw || ''}}"
              }
            }
          }
        },
        {
          "id": "fe8d07ca-3cd4-417b-b79c-65d93811df4f",
          "name": "GS - Append Error",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            4200,
            160
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "append",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "errors",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "error_id": "={{'ERR'+new Date().toISOString().slice(0,10).replaceAll('-','')+String(Math.floor(Math.random()*1e6)).padStart(6,'0')}}",
                "occurred_at": "={{new Date().toISOString()}}",
                "workflow_name": "WF-SEND",
                "workflow_id": "={{$workflow.id}}",
                "execution_id": "={{$execution.id}}",
                "node_name": "HTTP - Send WAHA",
                "ticket_id": "={{$json.ticket_id}}",
                "source_message_id": "",
                "trace_id": "",
                "channel": "={{$json.channel}}",
                "direction": "OUT",
                "severity": "error",
                "error_message": "={{$json.error_message}}",
                "error_stack": "",
                "payload_json": "={{$json.payload_json}}",
                "status": "RETRY",
                "last_node": "HTTP - Send WAHA",
                "provider": "={{$json.provider}}",
                "http_status": "",
                "retry_count": "={{String($json.attempt_count||1)}}"
              }
            }
          }
        }
      ],
      "connections": {
        "Cron - Outbox Worker": {
          "main": [
            [
              {
                "node": "GS - Read Outbox",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Read Outbox": {
          "main": [
            [
              {
                "node": "Code - Filter Pending/Retry",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Filter Pending/Retry": {
          "main": [
            [
              {
                "node": "Split In Batches",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Split In Batches": {
          "main": [
            [
              {
                "node": "Code - Build Send Idem Key",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Split In Batches",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Build Send Idem Key": {
          "main": [
            [
              {
                "node": "GS - Lookup Idempotency (send)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Lookup Idempotency (send)": {
          "main": [
            [
              {
                "node": "IF - Already Sent?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IF - Already Sent?": {
          "main": [
            [
              {
                "node": "GS - Update Outbox DELIVERED",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "GS - Append Idempotency IN_PROGRESS (send)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Append Idempotency IN_PROGRESS (send)": {
          "main": [
            [
              {
                "node": "Switch - Provider",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch - Provider": {
          "main": [
            [
              {
                "node": "HTTP - Send WAHA",
                "type": "main",
                "index": 0
              }
            ],
            [],
            []
          ]
        },
        "HTTP - Send WAHA": {
          "main": [
            [
              {
                "node": "Code - Normalize Send Result",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Normalize Send Result": {
          "main": [
            [
              {
                "node": "GS - Append Outbound Message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Append Outbound Message": {
          "main": [
            [
              {
                "node": "GS - Update Ticket After Outbound",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Update Ticket After Outbound": {
          "main": [
            [
              {
                "node": "IF - Send OK?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IF - Send OK?": {
          "main": [
            [
              {
                "node": "GS - Update Outbox DELIVERED",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Code - Backoff + Mark RETRY",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Backoff + Mark RETRY": {
          "main": [
            [
              {
                "node": "GS - Update Outbox RETRY",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Update Outbox RETRY": {
          "main": [
            [
              {
                "node": "GS - Append Error",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "pinData": {}
    },
    {
      "name": "CDN WF-KB - Hybrid Knowledge Sync v1",
      "active": false,
      "settings": {
        "executionOrder": "v1"
      },
      "versionId": "2e1444ae-2c69-44dd-9e5c-cf79d6f01d71",
      "id": "8576",
      "tags": [],
      "nodes": [
        {
          "id": "cc2264dc-2e49-4ff7-b2ce-b9aee518636f",
          "name": "Cron - KB Sync",
          "type": "n8n-nodes-base.cron",
          "typeVersion": 1,
          "position": [
            200,
            200
          ],
          "parameters": {
            "triggerTimes": {
              "item": [
                {
                  "mode": "everyHour"
                }
              ]
            }
          }
        },
        {
          "id": "0298971a-21ba-4424-88b7-5f2ad1b4971d",
          "name": "GS - Read Products",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            450,
            160
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "read",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "products",
            "options": {}
          }
        },
        {
          "id": "75dcf18d-4414-415c-ad67-00be0c13775e",
          "name": "GS - Read FAQs",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            450,
            240
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "read",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "faqs",
            "options": {}
          }
        },
        {
          "id": "ca80646c-2534-4a5b-a434-24e0892960cc",
          "name": "Code - Build kb_documents",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            700,
            200
          ],
          "parameters": {
            "jsCode": "// Merge products + faqs into kb_documents rows.\n// Input should be two branches merged manually; for simplicity, keep this node as placeholder.\n// Expected output rows fields: doc_id, source_type, source_id, title, content(rag_text), tags, category, is_active, checksum, index_status, last_indexed_at, metadata_json\nreturn items.map(i => ({json: i.json}));\n"
          }
        },
        {
          "id": "43e4ff9a-485a-4f87-a5b1-28168e78cc6f",
          "name": "GS - Upsert kb_documents",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            950,
            200
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "appendOrUpdate",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "kb_documents",
            "keyColumn": "doc_id",
            "keyValue": "={{$json.doc_id}}",
            "columns": {
              "mappingMode": "autoMapInputData",
              "value": {}
            }
          }
        },
        {
          "id": "91d3456c-1a66-4411-af95-fc1cc79c7a21",
          "name": "Code - Chunking to kb_chunks",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            1200,
            200
          ],
          "parameters": {
            "jsCode": "// Chunk content into kb_chunks\nconst doc = $json;\nconst text = doc.content || doc.rag_text || '';\nconst chunkSize = 900;\nconst chunks = [];\nfor (let i=0;i<text.length;i+=chunkSize){\n  chunks.push(text.slice(i, i+chunkSize));\n}\nconst out = chunks.map((c, idx) => ({\n  json: {\n    chunk_id: `CHUNK-${doc.doc_id}-${String(idx+1).padStart(4,'0')}`,\n    doc_id: doc.doc_id,\n    chunk_index: idx+1,\n    chunk_text: c,\n    checksum: \"\",\n    tokens: \"\",\n    created_at: new Date().toISOString(),\n    updated_at: new Date().toISOString(),\n    index_status: \"PENDING\",\n    last_indexed_at: \"\",\n    vector_id: \"\",\n    error_message: \"\",\n    metadata_json: doc.metadata_json || \"\"\n  }\n}));\nreturn out;\n"
          }
        },
        {
          "id": "2632a5ea-bc0e-4efa-b647-bf34813f9894",
          "name": "GS - Upsert kb_chunks",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            1450,
            200
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "appendOrUpdate",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "kb_chunks",
            "keyColumn": "chunk_id",
            "keyValue": "={{$json.chunk_id}}",
            "columns": {
              "mappingMode": "autoMapInputData",
              "value": {}
            }
          }
        },
        {
          "id": "e1061c56-a615-4547-b51a-070189b7a277",
          "name": "HTTP - Upsert Vector (placeholder)",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            1700,
            200
          ],
          "parameters": {
            "method": "POST",
            "url": "={{$env.VECTOR_URL}}/upsert",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "={{'Bearer '+$env.VECTOR_API_KEY}}"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "jsonBody": "={{ { collection: $env.VECTOR_COLLECTION || 'cdn_kb', id: $json.chunk_id, text: $json.chunk_text, metadata: { doc_id: $json.doc_id, chunk_index: $json.chunk_index, is_active: true } } }}",
            "options": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        {
          "id": "6cd633e1-f852-45bb-b149-0b7684778a98",
          "name": "GS - Update kb_chunks INDEXED",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            1950,
            200
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "update",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "kb_chunks",
            "keyColumn": "chunk_id",
            "keyValue": "={{$json.chunk_id}}",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "index_status": "INDEXED",
                "last_indexed_at": "={{new Date().toISOString()}}",
                "vector_id": "={{($json.body && $json.body.vector_id) || ''}}",
                "updated_at": "={{new Date().toISOString()}}"
              }
            }
          }
        }
      ],
      "connections": {
        "Cron - KB Sync": {
          "main": [
            [
              {
                "node": "GS - Read Products",
                "type": "main",
                "index": 0
              },
              {
                "node": "GS - Read FAQs",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "pinData": {}
    },
    {
      "name": "CDN WF-PAY - Payment Callback v1",
      "active": false,
      "settings": {
        "executionOrder": "v1"
      },
      "versionId": "f00d30a2-3803-4aee-b41c-fa8e36ba903f",
      "id": "4905",
      "tags": [],
      "nodes": [
        {
          "id": "7a479003-c375-4db5-8081-7c534db15ca3",
          "name": "Webhook - Payment Callback v1",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [
            200,
            200
          ],
          "parameters": {
            "httpMethod": "POST",
            "path": "cdn-wf1-payment-v1",
            "responseMode": "lastNode",
            "options": {}
          }
        },
        {
          "id": "c2877909-3c92-4df5-901f-e37c296e0d66",
          "name": "Code - Normalize Payment Event",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            450,
            200
          ],
          "parameters": {
            "jsCode": "const body = $json.body ?? $json;\nreturn [{json:{\n  provider: body.provider || 'QRIS_GATEWAY',\n  provider_event_id: body.event_id || body.eventId || body.ref || '',\n  order_id: body.order_id || body.orderId || '',\n  amount: body.amount || 0,\n  status: body.status || 'confirmed',\n  paid_at: body.paid_at || new Date().toISOString(),\n  raw_json: JSON.stringify(body)\n}}];\n"
          }
        },
        {
          "id": "4cfe3714-d35f-47be-a16f-db6c61a6ee58",
          "name": "Code - Build payment idem_key",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [
            700,
            200
          ],
          "parameters": {
            "jsCode": "return [{json:{...$json, payment_idem_key:`pay|${$json.provider}|${$json.provider_event_id}`}}];"
          }
        },
        {
          "id": "d1e83612-6cb0-40c3-a0a8-2f3c4f0820e3",
          "name": "GS - Lookup Idempotency (payment)",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            950,
            200
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "lookup",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "idempotency_keys",
            "lookupColumn": "idem_key",
            "lookupValue": "={{$json.payment_idem_key}}"
          }
        },
        {
          "id": "993922ff-7cf7-402c-a96e-da766df899b3",
          "name": "IF - Payment Already Processed?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [
            1200,
            200
          ],
          "parameters": {
            "conditions": {
              "boolean": [
                {
                  "value1": "={{$json.idem_key !== undefined && $json.status === 'DONE'}}",
                  "operation": "isTrue"
                }
              ]
            }
          }
        },
        {
          "id": "b03e43a4-8419-45a7-957a-c1a4927644a4",
          "name": "GS - Append payments (confirmed)",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            1450,
            140
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "append",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "payments",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "payment_id": "={{'PAY'+new Date().toISOString().slice(0,10).replaceAll('-','')+String(Math.floor(Math.random()*1e6)).padStart(6,'0')}}",
                "order_id": "={{$json.order_id}}",
                "created_at": "={{new Date().toISOString()}}",
                "status": "confirmed",
                "method": "QRIS",
                "amount": "={{$json.amount}}",
                "provider_ref": "={{$json.provider_event_id}}",
                "paid_at": "={{$json.paid_at}}",
                "notes": "",
                "provider": "={{$json.provider}}",
                "provider_event_id": "={{$json.provider_event_id}}",
                "idempotency_key": "={{$json.payment_idem_key}}",
                "confirmed_at": "={{new Date().toISOString()}}",
                "confirmed_by": "system",
                "raw_json": "={{$json.raw_json}}"
              }
            }
          }
        },
        {
          "id": "68215612-9b53-4a54-8cf3-fef58bd1b9fd",
          "name": "GS - Update order paid",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            1450,
            260
          ],
          "parameters": {
            "authentication": "oAuth2",
            "operation": "update",
            "documentId": "={{$env.GSHEET_ID}}",
            "sheetName": "orders",
            "keyColumn": "order_id",
            "keyValue": "={{$json.order_id}}",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "payment_status": "paid",
                "status": "paid",
                "updated_at": "={{new Date().toISOString()}}"
              }
            }
          }
        },
        {
          "id": "a78c9b9d-6ac0-4ead-92a3-cdd90d1d987a",
          "name": "Respond - 200 OK",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [
            1700,
            200
          ],
          "parameters": {
            "responseCode": 200,
            "responseData": "={{ { ok: true } }}"
          }
        }
      ],
      "connections": {
        "Webhook - Payment Callback v1": {
          "main": [
            [
              {
                "node": "Code - Normalize Payment Event",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Normalize Payment Event": {
          "main": [
            [
              {
                "node": "Code - Build payment idem_key",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code - Build payment idem_key": {
          "main": [
            [
              {
                "node": "GS - Lookup Idempotency (payment)",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Lookup Idempotency (payment)": {
          "main": [
            [
              {
                "node": "IF - Payment Already Processed?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IF - Payment Already Processed?": {
          "main": [
            [
              {
                "node": "Respond - 200 OK",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "GS - Append payments (confirmed)",
                "type": "main",
                "index": 0
              },
              {
                "node": "GS - Update order paid",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Append payments (confirmed)": {
          "main": [
            [
              {
                "node": "Respond - 200 OK",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "GS - Update order paid": {
          "main": [
            [
              {
                "node": "Respond - 200 OK",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "pinData": {}
    }
  ]
}