workflows/workflows/CDN WF1 - Inbound Orchestrator v1 (Hybrid)
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Normalize multi-channel inbound payload into internal schema.\n// Expect req body in $json (from Webhook).\nconst body = $json.body ?? $json;\nconst payload = body.payload ?? body.data ?? {};\nconst wahaData = payload._data ?? payload.data ?? {};\nconst key = wahaData.key ?? payload.key ?? body.key ?? {};\n\n// --- Provider detection (edit as needed) ---\nlet provider = body.provider || \"WAHA\";\nlet channel  = body.channel  || \"whatsapp\";\n\n// Thread id normalization (prioritize WAHA fields if present)\nconst thread_id = body.thread_id\n  || key.remoteJidAlt\n  || key.remoteJid\n  || payload.from\n  || body.remoteJidAlt\n  || body.remoteJid\n  || body.from\n  || body.chatId\n  || body.email_thread_id\n  || \"\";\n\n// Content normalization\nconst content = body.content\n  || payload.body\n  || payload.text\n  || (wahaData.message && wahaData.message.conversation)\n  || body.text\n  || body.message\n  || (body.data && body.data.text)\n  || \"\";\n\n// Provider message/event IDs\nconst provider_message_id = body.provider_message_id\n  || (key && key.id)\n  || payload.id\n  || body.messageId\n  || body.id\n  || \"\";\n\nconst provider_event_id = body.provider_event_id\n  || body.eventId\n  || body.event_id\n  || body.id\n  || \"\";\n\n// Timestamp normalization\nconst sent_at = body.sent_at\n  || (payload.timestamp ? new Date(Number(payload.timestamp) * 1000).toISOString() : null)\n  || (body.messageTimestamp ? new Date(Number(body.messageTimestamp) * 1000).toISOString() : null)\n  || new Date().toISOString();\n\nconst trace_id = body.trace_id || $execution.id || (\"TRC-\" + Date.now());\n\n// Minimal schema output\nreturn [{\n  json: {\n    provider, channel, thread_id,\n    provider_message_id, provider_event_id,\n    sent_at,\n    sender: \"user\",\n    content,\n    raw_json: JSON.stringify(body),\n    trace_id\n  }\n}];"
      },
      "id": "ed8890ff-eb59-4539-8422-e4c7eb4b9fe0",
      "name": "Code - Normalize Inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -14384,
        832
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.thread_id}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.content}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.provider_message_id}}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "d8b6f98c-43d4-4869-817f-166ba1aa2db1",
      "name": "IF - Schema Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -14144,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json:{...$json, dedupe_key:`in|${$json.provider}|${$json.provider_message_id}`}}];"
      },
      "id": "688e9d8f-123c-41cb-84f3-8e2c45fea895",
      "name": "Code - Build Dedupe Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -13888,
        752
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1716984913,
          "mode": "list",
          "cachedResultName": "idempotency_keys",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=1716984913"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "idem_key",
              "lookupValue": "={{$json.dedupe_key}}"
            }
          ]
        },
        "options": {}
      },
      "id": "9083fa4d-7800-401c-95fd-87ae4f199d4b",
      "name": "GS - Lookup Idempotency (dedupe_key)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -13648,
        752
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ee5f3d6e-9e58-4d20-a086-73c002231ef2",
              "leftValue": "={{ !!($json.idem_key && ($json.status === 'DONE' || $json.status === 'IN_PROGRESS')) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ef4f67a5-3f34-4c8b-8201-961ab661ac65",
      "name": "IF - Already Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -13392,
        752
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 1716984913,
          "mode": "list",
          "cachedResultName": "idempotency_keys",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=1716984913"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idem_key": "={{$node[\"Code - Build Dedupe Key\"].json.dedupe_key}}",
            "scope": "inbound",
            "ref_type": "message",
            "ref_id": "={{$node[\"Code - Build Dedupe Key\"].json.provider_message_id}}",
            "status": "IN_PROGRESS",
            "created_at": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idem_key",
              "displayName": "idem_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scope",
              "displayName": "scope",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ref_type",
              "displayName": "ref_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ref_id",
              "displayName": "ref_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen_at",
              "displayName": "last_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "result_json",
              "displayName": "result_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "850db1ca-c0bb-4401-8586-8dd28a6df0a5",
      "name": "GS - Upsert Idempotency IN_PROGRESS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -13136,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 2014931101,
          "mode": "list",
          "cachedResultName": "thread_locks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=2014931101"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "thread_id",
              "lookupValue": "={{$node[\"Code - Normalize Inbound\"].json.thread_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4884ed62-9437-4c90-9a84-6435a161b25c",
      "name": "GS - Lookup Thread Lock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -12896,
        768
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $json || {};\nconst now = Date.now();\n\nconst hasThreadId =\n  typeof row.thread_id === 'string' && row.thread_id.length > 0;\n\nconst lockedUntil = row.locked_until\n  ? Date.parse(row.locked_until)\n  : 0;\n\nconst lockExpired =\n  !lockedUntil || Number.isNaN(lockedUntil) || lockedUntil < now;\n\n// Acquire lock jika:\n// - tidak ada row sama sekali\n// - atau lock sudah expired\nconst acquire = !hasThreadId || lockExpired;\n\nreturn [\n  {\n    json: {\n      ...row,\n      lock_acquire: acquire,\n      now_iso: new Date().toISOString(),\n    },\n  },\n];\n"
      },
      "id": "e26dad8e-2a71-49ac-ae04-d5bb6a04616c",
      "name": "Code - Decide Lock Acquire",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -12640,
        768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c2cda949-24d5-4031-8240-a650fb328f86",
              "leftValue": "={{$json.lock_acquire}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a9f4b0-6d77-48bf-b6f3-bf3c8c0659ae",
      "name": "IF - Lock Acquired?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -12384,
        768
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 2014931101,
          "mode": "list",
          "cachedResultName": "thread_locks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=2014931101"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "thread_id": "={{$node[\"Code - Normalize Inbound\"].json.thread_id}}",
            "active_ticket_id": "={{$json.active_ticket_id || ''}}",
            "lock_owner": "={{$execution.id}}",
            "locked_until": "={{ new Date(Date.now() + ($node[\"Code - Decide Lock Acquire\"].json.lock_ttl_seconds || 30)*1000).toISOString() }}",
            "last_inbound_message_id": "={{$node[\"Code - Normalize Inbound\"].json.provider_message_id}}",
            "last_inbound_at": "={{$node[\"Code - Normalize Inbound\"].json.sent_at}}",
            "last_seen_at": "={{new Date().toISOString()}}",
            "created_at": "={{$json.created_at || new Date().toISOString()}}",
            "updated_at": "={{new Date().toISOString()}}",
            "notes": "={{\"wf1 acquire_lock; exec=\" + $execution.id + \"; idem=\" + $node[\"GS - Upsert Idempotency IN_PROGRESS\"].json.idem_key}}",
            "last_ticket_status": "LOCKED"
          },
          "matchingColumns": [
            "thread_id"
          ],
          "schema": [
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "active_ticket_id",
              "displayName": "active_ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lock_owner",
              "displayName": "lock_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "locked_until",
              "displayName": "locked_until",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_inbound_message_id",
              "displayName": "last_inbound_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_inbound_at",
              "displayName": "last_inbound_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ticket_status",
              "displayName": "last_ticket_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_seen_at",
              "displayName": "last_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "363f6d04-6eec-4f12-a65e-9d6cc522a267",
      "name": "GS - Upsert Thread Lock (Acquire)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -12144,
        704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 407385410,
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=407385410"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "default_thread_id",
              "lookupValue": "={{$node[\"Code - Normalize Inbound\"].json.thread_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "46c64e6d-b181-4b1f-9004-0b1af47b6092",
      "name": "GS - Lookup Customer (default_thread_id)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -11888,
        704
      ],
      "executeOnce": false,
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node: Code - Resolve Customer\n// Goal:\n// - If existing customer row found: preserve created_at\n// - If new: generate customer_id + set created_at once\n// - Always set updated_at + last_seen_at to now\n// - Always set default_thread_id + default_channel from inbound normalize\n\nfunction djb2(str) {\n  let h = 5381;\n  for (let i = 0; i < str.length; i++) h = ((h << 5) + h) + str.charCodeAt(i);\n  return h >>> 0;\n}\n\nconst inbound = $node[\"Code - Normalize Inbound\"].json || {};\nconst nowIso = new Date().toISOString();\n\n// In some cases, GS \"Get Row(s)\" returns [{}] when no match.\n// So treat missing customer_id as \"not found\".\nconst existing = $json || {};\nconst hasExistingCustomerId =\n  typeof existing.customer_id === \"string\" && existing.customer_id.trim().length > 0;\n\nconst threadId = (inbound.thread_id || \"\").trim();\nconst channel = (inbound.channel || \"\").trim();\n\nif (!threadId) {\n  throw new Error(\"Resolve Customer: inbound.thread_id is empty\");\n}\nif (!channel) {\n  throw new Error(\"Resolve Customer: inbound.channel is empty\");\n}\n\n// Preserve created_at if existing; otherwise set now.\nconst createdAt =\n  (typeof existing.created_at === \"string\" && existing.created_at.trim())\n    ? existing.created_at\n    : nowIso;\n\n// Preserve customer_id if existing; otherwise generate a new one.\nlet customerId = existing.customer_id;\nif (!hasExistingCustomerId) {\n  const suffix = (djb2(threadId) % 1000000).toString().padStart(6, \"0\");\n  const today = nowIso.slice(0, 10).replaceAll(\"-\", \"\"); // YYYYMMDD\n  customerId = `CUS${today}${suffix}`;\n}\n\n// Build final payload for Upsert Customer (Node 14)\nreturn [\n  {\n    json: {\n      // Keep any existing fields from customer row (if found)\n      ...existing,\n\n      // Keys and canonical defaults\n      customer_id: customerId,\n      default_thread_id: threadId,\n      default_channel: channel,\n\n      // Timestamps\n      created_at: createdAt,   // stable\n      updated_at: nowIso,\n      last_seen_at: nowIso,\n    },\n  },\n];\n"
      },
      "id": "e3edec2e-b12e-4188-ae4d-dfde8572f0ea",
      "name": "Code - Resolve Customer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -11648,
        864
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 407385410,
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=407385410"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $json.customer_id }}",
            "default_thread_id": "={{ $json.default_thread_id }}",
            "default_channel": "={{ $json.default_channel }}",
            "last_seen_at": "={{ $json.last_seen_at }}",
            "updated_at": "={{ $json.updated_at }}",
            "status": "ACTIVE",
            "profile_json": "={{\"\"}}",
            "preferences_json": "={{\"\"}}",
            "active_ticket_id": "={{ $('GS - Upsert Thread Lock (Acquire)').item.json.active_ticket_id }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [
            "customer_id"
          ],
          "schema": [
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_username",
              "displayName": "telegram_username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "default_channel",
              "displayName": "default_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "default_thread_id",
              "displayName": "default_thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address_line",
              "displayName": "address_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kelurahan",
              "displayName": "kelurahan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kecamatan",
              "displayName": "kecamatan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kabupaten",
              "displayName": "kabupaten",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provinsi",
              "displayName": "provinsi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country_code",
              "displayName": "country_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postal_code",
              "displayName": "postal_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_json",
              "displayName": "profile_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preferences_json",
              "displayName": "preferences_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "active_ticket_id",
              "displayName": "active_ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_intent",
              "displayName": "last_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen_at",
              "displayName": "last_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3bb25675-cea2-46d7-9219-5b3d62f566da",
      "name": "GS - Upsert Customer",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -14640,
        1472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 110569801,
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=110569801"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "thread_id",
              "lookupValue": "={{$node[\"Code - Normalize Inbound\"].json.thread_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "5fa514c9-d9ab-40f1-9377-ba1efbf7ac31",
      "name": "GS - Read Tickets by thread_id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -14384,
        1472
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node: Code - Resolve Ticket (reuse/reopen)\n\n// Sources of truth\nconst inbound = $node[\"Code - Normalize Inbound\"].json;\nconst customer = $node[\"GS - Upsert Customer\"].json; // hasil Node 14\n\nconst thread_id = inbound.thread_id;\nconst channel = inbound.channel;\nconst customer_id = customer.customer_id;\n\nif (!thread_id) throw new Error(\"Resolve Ticket: inbound.thread_id missing\");\nif (!channel) throw new Error(\"Resolve Ticket: inbound.channel missing\");\nif (!customer_id) throw new Error(\"Resolve Ticket: customer.customer_id missing\");\n\n// Read ticket rows returned by Node 15 (may be empty item)\nconst rows = $items(\"GS - Read Tickets by thread_id\").map(i => i.json)\n  .filter(r => r && r.ticket_id); // filter out {} empty item\n\nconst now = Date.now();\nconst nowIso = new Date().toISOString();\nconst reuseHours = 24; // configurable later via node param, not $env\n\nconst isOpen = (s) => ![\"closed\",\"resolved\",\"selesai\"].includes(String(s || \"\").toLowerCase());\n\n// Candidates in same thread (rows already filtered by thread_id in Node 15, but keep safe)\nconst related = rows.filter(t => t.thread_id === thread_id);\n\nlet chosen = null;\n\n// 1) Prefer an open ticket\nconst openTickets = related.filter(t => isOpen(t.status));\nopenTickets.sort((a,b) => Date.parse(b.updated_at || b.created_at || 0) - Date.parse(a.updated_at || a.created_at || 0));\nif (openTickets.length) chosen = openTickets[0];\n\n// 2) If none open, consider reopening most recent within reuse window\nif (!chosen && related.length) {\n  related.sort((a,b) => Date.parse(b.updated_at || b.created_at || 0) - Date.parse(a.updated_at || a.created_at || 0));\n  const last = related[0];\n  const lastTs = Date.parse(last.updated_at || last.created_at || nowIso);\n  const ageH = (now - lastTs) / 3600000;\n  if (ageH <= reuseHours) {\n    chosen = { ...last, status: \"open\", reopened_at: nowIso };\n  }\n}\n\n// 3) Else create new ticket\nif (!chosen) {\n  const today = nowIso.slice(0,10).replaceAll(\"-\",\"\");\n  const suffix = String(Math.floor(Math.random() * 1e6)).padStart(6, \"0\");\n  chosen = {\n    ticket_id: `TCK${today}${suffix}`,\n    created_at: nowIso,\n    status: \"open\",\n    stage: \"chat\",\n    priority: \"normal\",\n    tags: \"\",\n    meta_json: \"\",\n  };\n}\n\n// Normalize/overwrite operational fields\nchosen.updated_at = nowIso;\nchosen.thread_id = thread_id;\nchosen.channel = channel;\nchosen.customer_ref = customer_id;\nchosen.last_inbound_at = inbound.sent_at;\nchosen.last_message_snippet = String(inbound.content || \"\").slice(0, 200);\nchosen.unread_flag = \"TRUE\";\n\nreturn [\n  {\n    json: {\n      ...inbound,\n      customer_id,\n      ticket: chosen,\n      ticket_id: chosen.ticket_id,\n      active_ticket_id: chosen.ticket_id,\n    }\n  }\n];"
      },
      "id": "1ad9146d-5c7c-450c-bded-594453fd7f51",
      "name": "Code - Resolve Ticket (reuse/reopen)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -14144,
        1472
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 110569801,
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=110569801"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_id": "={{ $json.ticket.ticket_id }}",
            "created_at": "={{ $json.ticket.created_at }}",
            "status": "={{ $json.ticket.status }}",
            "stage": "={{ $json.ticket.stage }}",
            "priority": "={{ $json.ticket.priority }}",
            "updated_at": "={{ $json.ticket.updated_at }}",
            "channel": "={{ $json.ticket.channel }}",
            "customer_ref": "={{ $json.ticket.customer_ref }}",
            "thread_id": "={{ $json.ticket.thread_id }}",
            "last_inbound_at": "={{ $json.ticket.last_inbound_at }}",
            "last_message_snippet": "={{ $json.ticket.last_message_snippet }}",
            "unread_flag": "={{ $json.ticket.unread_flag }}",
            "dedupe_key": "={{ $('Code - Build Dedupe Key').item.json.dedupe_key }}",
            "tags": "={{ $json.ticket.tags }}",
            "meta_json": "={{ $json.ticket.meta_json }}",
            "requester_name": "={{ $('Code - Normalize Inbound').item.json.sender }}",
            "requester_contact": "={{ $('Code - Normalize Inbound').item.json.thread_id }}"
          },
          "matchingColumns": [
            "ticket_id"
          ],
          "schema": [
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_ref",
              "displayName": "customer_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requester_name",
              "displayName": "requester_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requester_contact",
              "displayName": "requester_contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assignee",
              "displayName": "assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sla_due_at",
              "displayName": "sla_due_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_inbound_at",
              "displayName": "last_inbound_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_outbound_at",
              "displayName": "last_outbound_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_message_snippet",
              "displayName": "last_message_snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unread_flag",
              "displayName": "unread_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_message_id",
              "displayName": "source_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meta_json",
              "displayName": "meta_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_summary",
              "displayName": "conversation_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "facts_json",
              "displayName": "facts_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handoff_flag",
              "displayName": "handoff_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handoff_reason",
              "displayName": "handoff_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reopened_at",
              "displayName": "reopened_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "closed_at",
              "displayName": "closed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ai_at",
              "displayName": "last_ai_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cd2f225f-673e-4b6e-afea-87c260a7f850",
      "name": "GS - Upsert Ticket",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -13888,
        1472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 407385410,
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=407385410"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $('GS - Upsert Customer').item.json.customer_id }}",
            "updated_at": "={{$now}}",
            "active_ticket_id": "={{ $json.ticket_id }}",
            "last_seen_at": "={{$now}}"
          },
          "matchingColumns": [
            "customer_id"
          ],
          "schema": [
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_username",
              "displayName": "telegram_username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "default_channel",
              "displayName": "default_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "default_thread_id",
              "displayName": "default_thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address_line",
              "displayName": "address_line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kelurahan",
              "displayName": "kelurahan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kecamatan",
              "displayName": "kecamatan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kabupaten",
              "displayName": "kabupaten",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provinsi",
              "displayName": "provinsi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country_code",
              "displayName": "country_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "postal_code",
              "displayName": "postal_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profile_json",
              "displayName": "profile_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preferences_json",
              "displayName": "preferences_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "active_ticket_id",
              "displayName": "active_ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_intent",
              "displayName": "last_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen_at",
              "displayName": "last_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "40c39ac4-5e71-4aaa-b73a-a23c6922a6ca",
      "name": "GS - Update Customer active_ticket_id",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -13632,
        1472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 934477834,
          "mode": "list",
          "cachedResultName": "messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=934477834"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_id": "={{'MSG'+new Date().toISOString().slice(0,10).replaceAll('-','')+String(Math.floor(Math.random()*1e6)).padStart(6,'0')}}",
            "direction": "IN",
            "channel": "={{$node[\"Code - Normalize Inbound\"].json.channel}}",
            "thread_id": "={{$node[\"Code - Normalize Inbound\"].json.thread_id}}",
            "ticket_id": "={{$node[\"GS - Upsert Ticket\"].json.ticket_id}}",
            "sender": "={{$node[\"Code - Normalize Inbound\"].json.sender}}",
            "sent_at": "={{$node[\"Code - Normalize Inbound\"].json.sent_at}}",
            "content": "={{$node[\"Code - Normalize Inbound\"].json.content}}",
            "provider": "={{$node[\"Code - Normalize Inbound\"].json.provider}}",
            "provider_event_id": "={{$node[\"Code - Normalize Inbound\"].json.provider_event_id}}",
            "dedupe_key": "={{$node[\"Code - Build Dedupe Key\"].json.dedupe_key}}",
            "raw_json": "={{$node[\"Code - Normalize Inbound\"].json.raw_json}}",
            "provider_message_id": "={{$node[\"Code - Normalize Inbound\"].json.provider_message_id}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_message_id",
              "displayName": "provider_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direction",
              "displayName": "direction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_json",
              "displayName": "raw_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider_event_id",
              "displayName": "provider_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "latency_ms",
              "displayName": "latency_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_json",
              "displayName": "ai_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0364266d-82f1-4a6d-84bb-c8c27ca6951c",
      "name": "GS - Append Inbound Message",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -13392,
        1472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 934477834,
          "mode": "list",
          "cachedResultName": "messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=934477834"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ticket_id",
              "lookupValue": "={{$json.ticket_id}}"
            }
          ]
        },
        "combineFilters": "AND",
        "options": {}
      },
      "id": "eacb3f79-e656-4e0c-82b7-50695942d652",
      "name": "GS - Read Messages (ticket_id)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -13136,
        1472
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build conversation context for a single ticket (last N messages)\nconst all = items.map(i => i.json);\n\n// ambil ticket_id secara aman dari data yang memang punya ticket\nconst ticket_id = all.find(m => m.ticket_id)?.ticket_id;\nif (!ticket_id) {\n  throw new Error('ticket_id not found in messages');\n}\n\n// filter & sort\nconst history = all\n  .filter(m => m.ticket_id === ticket_id)\n  .sort((a,b) => new Date(a.sent_at) - new Date(b.sent_at))\n  .slice(-20)\n  .map(m => ({\n    direction: m.direction,\n    content: m.content,\n    sent_at: m.sent_at,\n    channel: m.channel\n  }));\n\n// ambil metadata dari message terakhir\nconst last = history[history.length - 1];\n\nreturn [{\n  json: {\n    ticket_id,\n    thread_id: all.find(m => m.thread_id)?.thread_id,\n    history,\n    last_message: last\n  }\n}];"
      },
      "id": "791b9aa3-c6fa-4ef6-8943-0b98fedbebd2",
      "name": "Code - Build Context (filter last N)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -12896,
        1472
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VECTOR_URL}}/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer '+$env.VECTOR_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {}
        }
      },
      "id": "9f4cf925-3f2f-463d-b485-0a9cf75d7c63",
      "name": "HTTP - RAG Retrieve (Vector DB)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -12640,
        1472
      ],
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 1002131195,
          "mode": "list",
          "cachedResultName": "products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=1002131195"
        },
        "combineFilters": "AND",
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "id": "92700ec8-c369-422f-ae36-f5a93a53ed14",
      "name": "GS - Lookup Products (dynamic facts)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -12384,
        1472
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Setelah Merge: setiap item sudah membawa context (ticket_id/history/last_message)\n// dan item juga membawa fields produk (sku/name/price/...).\n// Kita akan kumpulkan products dari items, dan context dari item pertama.\n\nconst first = items[0]?.json || {};\nif (!first.ticket_id) throw new Error(\"Missing ticket_id in merged payload\");\n\n// products list dari items (ambil field produk saja)\nconst products = items.map(i => i.json).map(p => ({\n  product_id: p.product_id,\n  sku: p.sku,\n  name: p.name,\n  price: p.price,\n  stock_qty: p.stock_qty,\n  uom: p.uom,\n  category: p.category,\n  brand: p.brand,\n  keywords: p.keywords,\n  is_active: p.is_active,\n}));\n\n// user message\nconst userText = (first.last_message?.content || \"\").trim();\nconst q = userText.toLowerCase();\nconst tokens = q.split(/\\s+/).filter(Boolean).slice(0, 5);\n\nconst isActive = (p) => {\n  const v = p.is_active;\n  if (typeof v === \"boolean\") return v === true;\n  return (v ?? \"\").toString().toLowerCase() === \"true\";\n};\n\nconst prodHits = products\n  .filter(isActive)\n  .filter(p => {\n    const hay = [p.sku, p.name, p.keywords, p.category, p.brand]\n      .map(v => (v ?? \"\").toString().toLowerCase())\n      .join(\" \");\n    // match jika ada minimal 1 token yang muncul\n    return tokens.length ? tokens.some(t => hay.includes(t)) : false;\n  })\n  .slice(0, 5)\n  .map(p => ({\n    sku: p.sku,\n    name: p.name,\n    price: p.price,\n    stock_qty: p.stock_qty\n  }));\n\nconst ragSnips = []; // RAG diskip\n\nconst system = [\n  \"Kamu adalah CS/Sales chatbot. Bahasa Indonesia. Jawab singkat, natural, sopan.\",\n  \"DILARANG mengarang harga/stok. Gunakan hanya data di 'products' atau informasi yang diberikan user.\",\n  \"Jika produk tidak jelas / data tidak ada, lakukan REQUEST_MORE_INFO atau HANDOFF.\",\n  \"Output WAJIB JSON valid, tanpa markdown.\",\n  \"Action whitelist: UPDATE_TICKET, CREATE_ORDER_DRAFT, REQUEST_MORE_INFO, HANDOFF, SEND_REPLY, NO_REPLY.\",\n  \"Action dilarang: MARK_PAID, RESTOCK, CHANGE_PRICE, DELETE_DATA.\"\n].join(\"\\n\");\n\nconst context = {\n  ticket_id: first.ticket_id,\n  thread_id: first.thread_id,\n  channel: first.channel || \"whatsapp\",\n  customer_id: first.customer_id || null,\n  history: first.history || [],\n  rag: ragSnips,\n  products: prodHits,\n  user_message: userText\n};\n\nconst schema = {\n  should_reply: true,\n  reply_text: \"\",\n  handoff: { needed: false, to: null, reason: null },\n  intent: \"unknown\",\n  entities: { product_sku: null, qty: null, phone: null },\n  actions: [],\n  ticket_update: { summary: \"\", facts_json: {} }\n};\n\n//  Tambahan penting: prompt_text agar HTTP node tidak perlu JS concat/JSON.stringify\nconst prompt_text =\n  \"SYSTEM:\\n\" + system +\n  \"\\n\\nCONTEXT(JSON):\\n\" + JSON.stringify(context) +\n  \"\\n\\nINSTRUCTION:\\nKeluarkan output sesuai schema berikut dan WAJIB JSON valid tanpa markdown:\\n\" +\n  JSON.stringify(schema);\n\nreturn [{\n  json: {\n    ...first,\n    llm: { system, context, schema, prompt_text }\n  }\n}];\n"
      },
      "id": "dc8a268d-a1a4-4777-a0ad-87096dfd7c46",
      "name": "Code - Compose Prompt + Guardrails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -12144,
        1472
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\n\n// 1) Ambil text output dari Gemini (primary) atau OpenAI (fallback)\nlet txt = \"\";\n\n// Gemini: candidates[0].content.parts[0].text\nif (resp?.candidates?.[0]?.content?.parts?.length) {\n  txt = resp.candidates[0].content.parts\n    .map(p => (p && p.text) ? p.text : \"\")\n    .join(\"\\n\")\n    .trim();\n}\n\n// OpenAI fallback: choices[0].message.content\nif (!txt && resp?.choices?.[0]?.message?.content) {\n  txt = resp.choices[0].message.content;\n}\n\n// If still empty, stringify entire response\nif (!txt) txt = JSON.stringify(resp);\n\n// 2) Extract JSON helper\nfunction extractJson(s) {\n  const m = s.match(/\\{[\\s\\S]*\\}/);\n  return m ? m[0] : null;\n}\n\nlet obj = null;\n\n// 3) Parse JSON (direct, then extracted)\ntry {\n  obj = JSON.parse(txt);\n} catch (e) {\n  const ex = extractJson(txt);\n  if (ex) {\n    try { obj = JSON.parse(ex); } catch (_) {}\n  }\n}\n\n// 4) Hard fallback if invalid\nif (!obj) {\n  obj = {\n    should_reply: false,\n    reply_text: \"\",\n    actions: [{ type: \"HANDOFF\", reason: \"AI output invalid\" }],\n    handoff: { required: true, needed: true, reason: \"AI output invalid\", to: null },\n    intent: \"unknown\",\n    entities: {}\n  };\n}\n\n// 5) Allowlist actions\nconst allowed = new Set([\n  \"UPDATE_TICKET\",\n  \"CREATE_ORDER_DRAFT\",\n  \"REQUEST_MORE_INFO\",\n  \"HANDOFF\",\n  \"SEND_REPLY\",\n  \"NO_REPLY\"\n]);\n\nobj.actions = Array.isArray(obj.actions)\n  ? obj.actions.filter(a => a && allowed.has(a.type))\n  : [];\n\n// 6) Normalize handoff field naming (required vs needed)\nif (obj.handoff) {\n  if (obj.handoff.required === undefined && obj.handoff.needed !== undefined) {\n    obj.handoff.required = obj.handoff.needed;\n  }\n  if (obj.handoff.needed === undefined && obj.handoff.required !== undefined) {\n    obj.handoff.needed = obj.handoff.required;\n  }\n}\n\n// 7) Ensure handoff object exists and is consistent with actions\nif (obj.handoff && (obj.handoff.required || obj.handoff.needed)) {\n  obj.handoff.required = true;\n  obj.handoff.needed = true;\n  obj.handoff.reason = obj.handoff.reason || \"handoff_requested\";\n  if (obj.handoff.to === undefined) obj.handoff.to = null;\n} else if (obj.actions.some(a => a.type === \"HANDOFF\")) {\n  obj.handoff = { required: true, needed: true, reason: \"handoff_requested\", to: null };\n} else {\n  obj.handoff = { required: false, needed: false, reason: \"\", to: null };\n}\n\n// 8) Defaults for missing top-level fields\nif (obj.should_reply === undefined) obj.should_reply = true;\nif (obj.reply_text === undefined) obj.reply_text = \"\";\nif (obj.intent === undefined) obj.intent = \"unknown\";\nif (obj.entities === undefined) obj.entities = {};\n\n// Return: keep original response + parsed contract + raw text for debugging\nreturn [{\n  json: {\n    ...$json,\n    ai_raw_text: txt,\n    ai: obj\n  }\n}];\n"
      },
      "id": "cc141184-dbfd-4510-a18b-37aafd852b7a",
      "name": "Code - Parse & Validate AI Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -11632,
        1472
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5093dc6e-542c-45be-818d-8c6ac2b71d7c",
              "leftValue": "={{$json.ai_flags.should_reply}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d88ab01-6064-467f-8896-e4933d1ee34f",
      "name": "IF - Should Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -12624,
        1872
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 501423829,
          "mode": "list",
          "cachedResultName": "outbox",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=501423829"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "outbox_id": "={{'OBX'+new Date().toISOString().slice(0,10).replaceAll('-','')+String(Math.floor(Math.random()*1e6)).padStart(6,'0')}}",
            "created_at": "={{new Date().toISOString()}}",
            "updated_at": "={{new Date().toISOString()}}",
            "status": "PENDING",
            "channel": "={{$node[\"Code - Build Context (filter last N)\"].json.channel || \"whatsapp\"}}",
            "provider": "=WAHA",
            "thread_id": "={{$node[\"Code - Build Context (filter last N)\"].json.thread_id}}",
            "ticket_id": "={{$node[\"Code - Build Context (filter last N)\"].json.ticket_id}}",
            "payload_json": "={{\nJSON.stringify({\n  provider: \"WAHA\",\n  session: \"default\",\n  type: \"text\",\n  thread_id: $node[\"Code - Build Context (filter last N)\"].json.thread_id,\n  ticket_id: $node[\"Code - Build Context (filter last N)\"].json.ticket_id,\n  text: $node[\"Code - Parse & Validate AI Contract\"].json.ai.reply_text\n})\n}}",
            "attempt_count": "0",
            "next_retry_at": "={{new Date().toISOString()}}",
            "idempotency_key": "OUT"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "outbox_id",
              "displayName": "outbox_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "provider",
              "displayName": "provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payload_json",
              "displayName": "payload_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_json",
              "displayName": "response_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_attempt_at",
              "displayName": "last_attempt_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "attempt_count",
              "displayName": "attempt_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_retry_at",
              "displayName": "next_retry_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f60bf974-8926-4512-95b5-60248c972a10",
      "name": "GS - Append Outbox (PENDING)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -12368,
        1712
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 2014931101,
          "mode": "list",
          "cachedResultName": "thread_locks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=2014931101"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "updated_at": "={{$now}}",
            "thread_id": "={{$node[\"Code - Build Context (filter last N)\"].json.thread_id}}",
            "locked_until": "={{ new Date(0).toISOString() }}"
          },
          "matchingColumns": [
            "thread_id"
          ],
          "schema": [
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "active_ticket_id",
              "displayName": "active_ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lock_owner",
              "displayName": "lock_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "locked_until",
              "displayName": "locked_until",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_inbound_message_id",
              "displayName": "last_inbound_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_inbound_at",
              "displayName": "last_inbound_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ticket_status",
              "displayName": "last_ticket_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen_at",
              "displayName": "last_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9a91aa78-1934-4cec-be2d-3ed1e8f6926b",
      "name": "GS - Release Thread Lock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -12128,
        1888
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 1716984913,
          "mode": "list",
          "cachedResultName": "idempotency_keys",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=1716984913"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idem_key": "={{$node[\"GS - Append Inbound Message\"].json.dedupe_key}}",
            "status": "DONE",
            "last_seen_at": "={{$now}}",
            "result_json": "={{\nJSON.stringify({\n  ai: $node[\"Code - Parse & Validate AI Contract\"].json.ai,\n  outbox_id: $node[\"GS - Append Outbox (PENDING)\"].json.outbox_id || null,\n  should_reply: $node[\"Code - Set AI Flags1\"].json.ai_flags?.should_reply ?? null\n})\n}}"
          },
          "matchingColumns": [
            "idem_key"
          ],
          "schema": [
            {
              "id": "idem_key",
              "displayName": "idem_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scope",
              "displayName": "scope",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ref_type",
              "displayName": "ref_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ref_id",
              "displayName": "ref_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen_at",
              "displayName": "last_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "result_json",
              "displayName": "result_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "619ff1d2-8117-4ca6-816b-098d4c563c0f",
      "name": "GS - Update Idempotency DONE (inbound)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -11872,
        1888
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Order Draft + Items from AI contract (robust)\n// Requires: $node[\"Code - Parse & Validate AI Contract\"].json.ai\n// Requires: products list available in previous context (optional)\n\nconst nowIso = new Date().toISOString();\n\n// --- helpers ---\nconst genId = (prefix) => {\n  const d = new Date();\n  const y = d.getUTCFullYear();\n  const m = String(d.getUTCMonth()+1).padStart(2,'0');\n  const day = String(d.getUTCDate()).padStart(2,'0');\n  const rand = Math.random().toString(16).slice(2, 8).toUpperCase();\n  return `${prefix}${y}${m}${day}${rand}`;\n};\n\nconst safeNum = (v, def=0) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : def;\n};\n\n// --- source nodes (adjust names if yours differ) ---\nconst ctxNode = $node[\"Code - Build Context (filter last N)\"].json;\nconst aiNode = $node[\"Code - Parse & Validate AI Contract\"].json;\n\nconst ai = aiNode.ai || {};\nconst actions = Array.isArray(ai.actions) ? ai.actions : [];\nconst createAction = actions.find(a => a && a.type === \"CREATE_ORDER_DRAFT\") || null;\n\n// Products list: prefer llm.context.products if you have it; else empty\nconst llmCtx = $node[\"Code - Compose Prompt + Guardrails\"].json?.llm?.context || {};\nconst prodCandidates = Array.isArray(llmCtx.products) ? llmCtx.products : [];\n\n// Build item requests from AI:\n// priority:\n// 1) action.items (array) if provided\n// 2) ai.entities (single sku/qty)\nlet reqItems = [];\n\nif (createAction && Array.isArray(createAction.items) && createAction.items.length) {\n  reqItems = createAction.items.map(it => ({\n    sku: it.sku || it.product_sku || null,\n    qty: it.qty || it.quantity || 1,\n  }));\n} else {\n  const sku = ai.entities?.product_sku || null;\n  const qty = ai.entities?.qty || 1;\n  if (sku) reqItems = [{ sku, qty }];\n}\n\n// Resolve item details using prodCandidates (sku match)\nconst resolvedItems = reqItems\n  .filter(it => it && it.sku)\n  .map(it => {\n    const hit = prodCandidates.find(p => (p.sku||\"\").toString() === it.sku.toString()) || {};\n    const unit_price = safeNum(hit.price, null);\n    const stock_qty = safeNum(hit.stock_qty, null);\n    return {\n      product_id: hit.product_id || null,\n      sku: it.sku,\n      product_name: hit.name || hit.product_name || \"\",\n      uom: hit.uom || null,\n      qty: safeNum(it.qty, 1),\n      unit_price,\n      stock_qty,\n      line_total: unit_price === null ? null : safeNum(it.qty,1) * unit_price,\n      meta_json: JSON.stringify({ resolved_from: \"llm.context.products\", raw: hit }),\n    };\n  });\n\n// If we cannot resolve pricing, still create draft but mark needs_review\nconst needsReview = resolvedItems.some(x => x.unit_price === null || x.product_name === \"\");\n\n// Totals\nconst total_amount = resolvedItems.reduce((acc, it) => acc + (safeNum(it.line_total, 0)), 0);\n\n// IDs\nconst order_id = genId(\"ORD\");\nconst idempotency_key =\n  `order|${ctxNode.ticket_id}|${$node[\"GS - Append Inbound Message\"].json.dedupe_key}`;\n\n// Draft payload (for sheet `orders`)\nconst order_draft = {\n  order_id,\n  created_at: nowIso,\n  updated_at: nowIso,\n  status: \"DRAFT\",\n  channel: ctxNode.channel || \"whatsapp\",\n  ticket_id: ctxNode.ticket_id,\n  // optional fields if you have the columns:\n  thread_id: ctxNode.thread_id || null,\n  customer_id: ctxNode.customer_id || null,\n  total_amount,\n  currency: \"IDR\",\n  payment_status: \"UNPAID\",\n  payment_due_at: null,\n  idempotency_key,\n  source_message_id: ctxNode.last_message?.message_id || null,\n  meta_json: JSON.stringify({\n    needs_review: needsReview,\n    intent: ai.intent || \"unknown\",\n    handoff: ai.handoff || null,\n    ai_entities: ai.entities || {},\n    raw_action: createAction,\n  }),\n};\n\n// Return single item carrying both draft + items\nreturn [{\n  json: {\n    ...ctxNode,\n    ai,\n    order_id,\n    order_draft,\n    order_items: resolvedItems,\n  }\n}];\n"
      },
      "id": "866988e0-976c-48de-aabd-73ea74e82d50",
      "name": "Code - Build Order Draft Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -14144,
        1728
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 538802479,
          "mode": "list",
          "cachedResultName": "order_items",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=538802479"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_item_id": "={{$json.order_item_id}}",
            "order_id": "={{$json.order_id}}",
            "product_id": "={{$json.product_id}}",
            "sku": "={{$json.sku}}",
            "product_name": "={{$json.product_name}}",
            "qty": "={{$json.qty}}",
            "unit_price": "={{$json.unit_price}}",
            "line_total": "={{$json.line_total}}",
            "created_at": "={{$json.created_at}}",
            "uom": "={{$json.uom}}",
            "notes": "={{$json.notes}}",
            "meta_json": "={{$json.meta_json}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_item_id",
              "displayName": "order_item_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sku",
              "displayName": "sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_price",
              "displayName": "unit_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "line_total",
              "displayName": "line_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uom",
              "displayName": "uom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meta_json",
              "displayName": "meta_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "574d8787-6cd6-4806-883e-eaff6b1c998f",
      "name": "GS - Append Order Items",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -13376,
        1728
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Expand $json.order_items array into n8n items for append\nconst order_id = $json.order_id;\nconst itemsArr = Array.isArray($json.order_items) ? $json.order_items : [];\n\nconst genItemId = (prefix=\"OIT\") => {\n  const d = new Date();\n  const y = d.getUTCFullYear();\n  const m = String(d.getUTCMonth()+1).padStart(2,'0');\n  const day = String(d.getUTCDate()).padStart(2,'0');\n  const rand = Math.random().toString(16).slice(2, 8).toUpperCase();\n  return `${prefix}${y}${m}${day}${rand}`;\n};\n\nconst nowIso = new Date().toISOString();\n\nreturn itemsArr.map(it => ({\n  json: {\n    order_item_id: genItemId(),\n    order_id,\n    product_id: it.product_id || null,\n    sku: it.sku,\n    product_name: it.product_name || \"\",\n    qty: it.qty,\n    unit_price: it.unit_price,\n    line_total: it.line_total,\n    created_at: nowIso,\n    uom: it.uom || null,\n    notes: \"\",\n    meta_json: it.meta_json || \"{}\",\n  }\n}));\n"
      },
      "id": "fa69f107-8e09-4fc4-b31d-467b56b9e012",
      "name": "Code - Expand Order Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -13632,
        1728
      ]
    },
    {
      "parameters": {
        "jsCode": "const ai = $json.ai || {};\nconst actions = Array.isArray(ai.actions) ? ai.actions : [];\n\n// case-insensitive + null-safe\nconst hasAction = (t) =>\n  actions.some(a => (a?.type || \"\").toUpperCase() === String(t).toUpperCase());\n\n// handoff flag (support required/needed + action HANDOFF)\nconst handoff =\n  ai?.handoff?.needed === true ||\n  ai?.handoff?.required === true ||\n  hasAction(\"HANDOFF\");\n\n// create_order flag (based on action)\nconst create_order =\n  hasAction(\"CREATE_ORDER_DRAFT\") ||\n  (typeof ai.intent === \"string\" && ai.intent.toLowerCase().includes(\"order\"));\n\n// should_reply flag (prioritization: NO_REPLY > should_reply field > SEND_REPLY)\nconst should_reply = hasAction(\"NO_REPLY\")\n  ? false\n  : (typeof ai.should_reply === \"boolean\"\n      ? ai.should_reply\n      : hasAction(\"SEND_REPLY\") ? true : true);\n\n// optional helper flags (useful for later IFs/logging)\nconst request_more_info = hasAction(\"REQUEST_MORE_INFO\");\nconst no_reply = hasAction(\"NO_REPLY\") || should_reply === false;\n\nreturn [{\n  json: {\n    ...$json,\n    ai_flags: {\n      handoff,\n      create_order,\n      should_reply,\n      request_more_info,\n      no_reply,\n    }\n  }\n}];\n"
      },
      "id": "52f8fcd4-309a-492a-a1f2-6b2de8a85533",
      "name": "Code - Set AI Flags1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -14640,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "535681ee-a882-4235-bbed-8778b5e947e9",
      "name": "IF - Create Order Draft?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -14384,
        1840
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 608521577,
          "mode": "list",
          "cachedResultName": "orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=608521577"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{$json.order_draft.order_id}}",
            "created_at": "={{$json.order_draft.created_at}}",
            "updated_at": "={{$json.order_draft.updated_at}}",
            "status": "={{$json.order_draft.status}}",
            "channel": "={{$json.order_draft.channel}}",
            "ticket_id": "={{$json.order_draft.ticket_id}}",
            "customer_id": "={{$json.order_draft.customer_id}}",
            "customer_name": "={{$json.name || ''}}",
            "customer_contact": "={{$json.phone || $json.email || ''}}",
            "payment_status": "unpaid",
            "meta_json": "={{$json.order_draft.meta_json}}",
            "idempotency_key": "={{$json.order_draft.idempotency_key}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_contact",
              "displayName": "customer_contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shipping_address",
              "displayName": "shipping_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount",
              "displayName": "discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tax",
              "displayName": "tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shipping_fee",
              "displayName": "shipping_fee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_due_at",
              "displayName": "invoice_due_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_url",
              "displayName": "invoice_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_due_at",
              "displayName": "payment_due_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_message_id",
              "displayName": "source_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meta_json",
              "displayName": "meta_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e8943ed1-854f-47e7-b4a0-f0ac83a48f9a",
      "name": "GS - Append Order Draft1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -13888,
        1728
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "6372fcbd-4afc-4cd7-b4a6-6b015075fcfd",
              "leftValue": "={{$json.ai_flags.handoff}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "38d3c66b-7828-4182-9e4c-9609e216a87a",
      "name": "IF - Handoff Needed?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -13120,
        1856
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY"
        },
        "sheetName": {
          "__rl": true,
          "value": 110569801,
          "mode": "list",
          "cachedResultName": "tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17PTHDWlYUr3J81oJ-rP9ITsUaWV6ULSzTb2iX6_oCsY/edit#gid=110569801"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "handoff_flag": "TRUE",
            "handoff_reason": "={{($json.ai && $json.ai.handoff && ($json.ai.handoff.reason || $json.ai.handoff.to)) || 'handoff_requested'}}",
            "updated_at": "={{new Date().toISOString()}}",
            "row_number": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_ref",
              "displayName": "customer_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "requester_name",
              "displayName": "requester_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "requester_contact",
              "displayName": "requester_contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assignee",
              "displayName": "assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sla_due_at",
              "displayName": "sla_due_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_inbound_at",
              "displayName": "last_inbound_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_outbound_at",
              "displayName": "last_outbound_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_message_snippet",
              "displayName": "last_message_snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unread_flag",
              "displayName": "unread_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_message_id",
              "displayName": "source_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "meta_json",
              "displayName": "meta_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation_summary",
              "displayName": "conversation_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "facts_json",
              "displayName": "facts_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "handoff_flag",
              "displayName": "handoff_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handoff_reason",
              "displayName": "handoff_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reopened_at",
              "displayName": "reopened_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "closed_at",
              "displayName": "closed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_ai_at",
              "displayName": "last_ai_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "42e2bf4b-d02d-4af5-a377-2f211b0b8a44",
      "name": "GS - Update Ticket Handoff1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -12880,
        1728
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "czxwVduaeCAJOXrr",
          "name": "Test_Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cdn-wf1-unified-v1",
        "options": {}
      },
      "id": "e7ef0ae2-89d0-4d39-ba35-7ccea68174b5",
      "name": "Webhook Inbound Unified v1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -14640,
        832
      ],
      "webhookId": "9ed332e1-abf7-432f-89b9-ed3a6970823a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -12224,
        1200
      ],
      "id": "216f957c-497b-4102-844c-949daaa443d6",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyA8P3FK7X1FdrFlyvn-3KGdfSiTs2y-pUM"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{[  {    \"role\": \"user\",    \"parts\": [      {        \"text\": $json.llm.prompt_text      }    ]  }]}}"
            },
            {
              "name": "generationConfig",
              "value": "={{ { \"temperature\": 0.2, \"responseMimeType\": \"application/json\" } }}"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "id": "c66f30ea-dc83-4db0-803c-fb494750d9d1",
      "name": "HTTP - LLM Chat (AI compatible)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -11888,
        1472
      ]
    }
  ],
  "connections": {
    "Code - Normalize Inbound": {
      "main": [
        [
          {
            "node": "IF - Schema Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Schema Valid?": {
      "main": [
        [
          {
            "node": "Code - Build Dedupe Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Dedupe Key": {
      "main": [
        [
          {
            "node": "GS - Lookup Idempotency (dedupe_key)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Lookup Idempotency (dedupe_key)": {
      "main": [
        [
          {
            "node": "IF - Already Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Already Processed?": {
      "main": [
        [],
        [
          {
            "node": "GS - Upsert Idempotency IN_PROGRESS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Upsert Idempotency IN_PROGRESS": {
      "main": [
        [
          {
            "node": "GS - Lookup Thread Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Lookup Thread Lock": {
      "main": [
        [
          {
            "node": "Code - Decide Lock Acquire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Decide Lock Acquire": {
      "main": [
        [
          {
            "node": "IF - Lock Acquired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Lock Acquired?": {
      "main": [
        [
          {
            "node": "GS - Upsert Thread Lock (Acquire)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Upsert Thread Lock (Acquire)": {
      "main": [
        [
          {
            "node": "GS - Lookup Customer (default_thread_id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Lookup Customer (default_thread_id)": {
      "main": [
        [
          {
            "node": "Code - Resolve Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Resolve Customer": {
      "main": [
        [
          {
            "node": "GS - Upsert Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Upsert Customer": {
      "main": [
        [
          {
            "node": "GS - Read Tickets by thread_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Read Tickets by thread_id": {
      "main": [
        [
          {
            "node": "Code - Resolve Ticket (reuse/reopen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Resolve Ticket (reuse/reopen)": {
      "main": [
        [
          {
            "node": "GS - Upsert Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Upsert Ticket": {
      "main": [
        [
          {
            "node": "GS - Update Customer active_ticket_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Update Customer active_ticket_id": {
      "main": [
        [
          {
            "node": "GS - Append Inbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Append Inbound Message": {
      "main": [
        [
          {
            "node": "GS - Read Messages (ticket_id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Read Messages (ticket_id)": {
      "main": [
        [
          {
            "node": "Code - Build Context (filter last N)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Context (filter last N)": {
      "main": [
        [
          {
            "node": "HTTP - RAG Retrieve (Vector DB)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - RAG Retrieve (Vector DB)": {
      "main": [
        [
          {
            "node": "GS - Lookup Products (dynamic facts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Lookup Products (dynamic facts)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code - Compose Prompt + Guardrails": {
      "main": [
        [
          {
            "node": "HTTP - LLM Chat (AI compatible)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse & Validate AI Contract": {
      "main": [
        [
          {
            "node": "Code - Set AI Flags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Should Reply?": {
      "main": [
        [
          {
            "node": "GS - Append Outbox (PENDING)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GS - Release Thread Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Append Outbox (PENDING)": {
      "main": [
        [
          {
            "node": "GS - Release Thread Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Release Thread Lock": {
      "main": [
        [
          {
            "node": "GS - Update Idempotency DONE (inbound)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Order Draft Payload": {
      "main": [
        [
          {
            "node": "GS - Append Order Draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Append Order Items": {
      "main": [
        [
          {
            "node": "IF - Handoff Needed?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Expand Order Items": {
      "main": [
        [
          {
            "node": "GS - Append Order Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Set AI Flags1": {
      "main": [
        [
          {
            "node": "IF - Create Order Draft?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Create Order Draft?1": {
      "main": [
        [
          {
            "node": "Code - Build Order Draft Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Handoff Needed?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Append Order Draft1": {
      "main": [
        [
          {
            "node": "Code - Expand Order Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Handoff Needed?1": {
      "main": [
        [
          {
            "node": "GS - Update Ticket Handoff1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Should Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GS - Update Ticket Handoff1": {
      "main": [
        [
          {
            "node": "IF - Should Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Inbound Unified v1": {
      "main": [
        [
          {
            "node": "Code - Normalize Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code - Compose Prompt + Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - LLM Chat (AI compatible)": {
      "main": [
        [
          {
            "node": "Code - Parse & Validate AI Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d940a4f16e33b542b1d0e3d683b566065197a987a838589844a30fe2cb41c54"
  }
}
